
#user-menu {
  @include clearfix();
  position: absolute;
  right: 0;
  top: 0;
  z-index: 101;
  cursor: pointer;
  .user-btn {
    height: 60px;
    float: right;
    padding: 11px 30px 9px 15px;
    &:after {
      content: " ";
      display: block;
      margin-top: -6px;
      width: 8px;
      height: 8px;
      border: 2px solid transparent;
      border-color: transparent transparent #E7E9ED #E7E9ED;
      transform: rotate(-45deg);
      position: absolute;
      top: 30px;
      right: 13px;
      transition: all $animation-duration ease-out;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .menu {
    clear: right;
    display: none;
    /*transform: scaleY(0);
    opacity: 0;
    transform-origin: center top;*/
    transition: transform $animation-duration ease-out;
    box-shadow: 1px 1px 1px #000;
    li {
      position: relative;
      background-color: #FFF;
      list-style-image: none;
      height: 50px;
      line-height: 50px;
      font-size: 17px;
      font-weight: 500;
      text-align: left;
      padding: 0 28px;
      color: $color-text-primary;
      cursor: pointer;
      border: 1px solid #FFF;
      transition: background $animation-duration ease-out;
      &:hover {
        background-color: $btn-default-color;
        color: #FFF;
      }
      &.withSubmenu {
        &:after {
          content: " ";
          display: block;
          margin-top: -6px;
          width: 8px;
          height: 8px;
          border: 2px solid transparent;
          border-color: transparent transparent $color-text-primary $color-text-primary;
          transform: rotate(45deg);
          position: absolute;
          top: 28px;
          left: 15px;
          oapcity: 0.5;
          transition: left $animation-duration ease-out;
        }
        &:before {
          content: " ";
          display: block;
          margin-top: -6px;
          width: 12px;
          height: 12px;
          background-color: #FFF;
          transform: rotate(45deg);
          position: absolute;
          top: 26px;
          left: 1px;
          oapcity: 0;
          transition: all $animation-duration ease-out;
          border: 1px solid transparent;

        }
        &:hover {
          &:after {
            border-color: transparent transparent #FFF #FFF;
            left: 10px;
            oapcity: 1;
          }
          &:before {
            left: -6px;
            background-color: $btn-default-color;
            opacity: 1;
            z-index: 101;
            border-color: transparent transparent #FFF #FFF;
          }
        }
      }
      &:hover {
        .submenu {
          display: block;
          opacity: 1;
        }
      }
    }
    .submenu {
      position: absolute;
      right: 100%;
      width: 250px;
      top: -1px;
      display: none;
      opacity: 0;
      transition: opacity 0.2s ease-out;
    }
  }
  &:hover {
    .menu {
      display: block;
    }
    .user-btn {
      background-color: #FFF;
      &:after {
        border-color: transparent transparent $btn-default-color $btn-default-color;
      }
      svg {
        &>g {
          fill: #E7E9ED;
          stroke: #354052;
        }
        &>path {
          fill: #353746;
        }
      }
    }
  }
}


.search-box {
  position: absolute;
  top: 0;
  right: 75px;
  padding: 14px;
  z-index: 102;
  .search-input {
    padding: 5px 0;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #FFF;
    width: 0;
    opacity: 0;
    transition: all $animation-duration ease-out;
    outline: none;
    color: #FFF;
    &:active, &:focus {
      border-bottom-width: 2px;
    }
  }
  .icon-wrapper {
    float: left;
    padding: 7px;
    cursor: pointer;
  }
  &.isOpen {
    .search-input {
      width: 140px;
      opacity: 1;
    }
  }
}