
#login-form {
  max-width: 450px;
  margin: 0 auto;
  box-radius: 4px;
  .logo-login {
    border-radius: 50%;
    width:90px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    bottom: -39px;
  }
  label {
    font-size: 14px;
    color: $color-text-primary;
    font-weight: 500;
  }
  .form-group {
    margin-bottom: 20px;
  }
  input.form-control {
    line-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    height: 40px;
    background-color: #f1f3f8;
    border: solid 1px #d2d6dc;
    font-size: 16px;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
  .btn-login {
    font-size: 16px;
    color: #fafafb;
    margin-top: 25px;
  }
  .top {
    background: #dde0e5;
    border: 1px solid #E6EAEE;
    border-radius: 4px 4px 0px 0px;
    width: 100%;
    padding: 50px 0 20px;
    h3 {
      color: $color-text-primary;
      text-align: center;
      font-weight: normal;
    }
  }
  .body {
    background: #FFFFFF;
    border: 1px solid #E6EAEE;
    padding: 30px 20px;
    width: 100%;
  }
  .bottom {
    border: 1px solid #E6EAEE;
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
    padding: 16px 32px 32px;
    text-align: center;
    label.login-social-networks {
      position: relative;
      top: -28px;
      background-color: #FFF;
      padding: 0 15px;
      font-size: 14px;
    }
    .social-icons {
      @include clearfix();
      list-style: none;
      padding-left: 0;
      li {
        list-style-image: none;
        height: 70px;
        width: 70px;
        border-radius: 4px;
        margin-right: 34px;
        position: relative;
        float: left;
        &.icon1 {
          background: #5AC8FA;
        }
        &.icon2 {
          background: #289DF5;
        }
        &.icon3 {
          background: #FDC02F;
        }
        &.icon4 {
          background: #FF2D55;
          margin-right: 0px;
        }
        span {
          background: #FFFFFF;
          display: inline-block;
          width: 40px;
          height: 40px;
          position: absolute;
          border-radius: 50%;
          left:50%;
          margin-left: -20px;
          top: 50%;
          margin-top: -20px;
        }

      }
    }
  }
  .bottom-links {
    margin-top: 15px;
    a {
      font-size: 14px;
      color: $font-color-label;
    }
  }
}
label, .label {
  font-weight: 400;
}

.btn {
  background: $btn-default-color;
  border-radius: 4px;
  font-family: WorkSans;
  letter-spacing: -0.2px;
  color: #FFFFFF;
  padding: 8px 12px 6px;
  position: relative;
  font-size: 16px;
  line-height: 26px;
  border: none;
  transition: background $animation-duration ease-out;
  &:focus {
    background: #30AD63;
    color: #FFFFFF;
  }
  &:hover {
    background-color: $dark-blue;
    color: #FFF;
  }
}
.btn-login {
  width: 100%;
  padding: 13px 0px;
}

.btn-snapshot {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 24px;
  background: #54B87E;
  border: 1px solid #30AD63;
  svg {
    float: left;
    margin-top: 3px;
    margin-right: 5px;
  }
}
.btn-shutoff {
  color: #FFFFFF;
  line-height: 24px;
  background: rgba(255,59,48,0.76);
  border: 1px solid #FF3B30;
  svg {
    float: left;
    margin-top: 3px;
    margin-right: 5px;
  }
}

.btn-default {
  &.disabled:hover, &.disabled:focus {
    background: #30AD63;
  }
}

.plusminus-wrapper {
  .btn {
    height: 34px;
  }
  input {
    text-align: center;
    background-color: #FFF !important;
  }
}


input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
  vertical-align: middle;
  width: 40px;	height: 20px;
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: .4s;
  -webkit-transition-property: background-color, box-shadow;
  box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
  cursor: pointer;
}

/* Checked Track (Blue) */
input[type="checkbox"].ios-switch:checked + div {
  width: 40px;
  background-position: 0 0;
  background-color: #3b89ec;
  border: 1px solid #0e62cd;
  box-shadow: inset 0 0 0 10px rgba(59,137,259,1);
}

/* Tiny Track */
input[type="checkbox"].tinyswitch.ios-switch + div {
  width: 34px;	height: 18px;
}

/* Big Track */
input[type="checkbox"].bigswitch.ios-switch + div {
  width: 50px;	height: 25px;
}

/* Green Track */
input[type="checkbox"].green.ios-switch:checked + div {
  background-color: #00e359;
  border: 1px solid rgba(0, 162, 63,1);
  box-shadow: inset 0 0 0 10px rgba(0,227,89,1);
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
  float: left;
  width: 18px; height: 18px;
  border-radius: inherit;
  background: #ffffff;
  -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
  -webkit-transition-duration: 0.4s;
  -webkit-transition-property: transform, background-color, box-shadow;
  -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
  -moz-transition-duration: 0.4s;
  -moz-transition-property: transform, background-color;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  margin-top: 0px;
  margin-left: 1px;
}

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
  -webkit-transform: translate3d(20px, 0, 0);
  -moz-transform: translate3d(20px, 0, 0);
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Tiny Knob */
input[type="checkbox"].tinyswitch.ios-switch + div > div {
  width: 16px; height: 16px;
  margin-top: 1px;
}

/* Checked Tiny Knob (Blue Style) */
input[type="checkbox"].tinyswitch.ios-switch:checked + div > div {
  -webkit-transform: translate3d(16px, 0, 0);
  -moz-transform: translate3d(16px, 0, 0);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Big Knob */
input[type="checkbox"].bigswitch.ios-switch + div > div {
  width: 23px; height: 23px;
  margin-top: 1px;
}

/* Checked Big Knob (Blue Style) */
input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
  -webkit-transform: translate3d(25px, 0, 0);
  -moz-transform: translate3d(16px, 0, 0);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Green Knob */
input[type="checkbox"].green.ios-switch:checked + div > div {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63,1);
}

.collapsible {
  position: relative;
  .valid-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    svg.invalid {
      display: none;
    }
    &.status-invalid {
      svg.invalid {
        display: block;
      }
      svg.valid {
        display: none;
      }
    }
  }
}

.checker {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url('data:image/svg+xml;utf8,<svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><circle id="path-1" cx="9" cy="9" r="9"></circle><mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="18" height="18" fill="white"><use xlink:href="#path-1"></use></mask></defs><use id="Oval-2" stroke="#57596C" mask="url(#mask-2)" stroke-width="2.8" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use><path d="M14.171579,9.0002 L3.828021,9.0002" id="Stroke-3" stroke="#57596C" stroke-width="1.4" fill="none"></path></svg>')  no-repeat;
  &.checked {
    background: url('data:image/svg+xml;utf8,<svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><circle id="path-1" cx="9" cy="9" r="9"></circle><mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="18" height="18" fill="white"><use xlink:href="#path-1"></use></mask></defs><use id="Oval-2" stroke="#4CD964" mask="url(#mask-2)" stroke-width="2.8" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use><polyline id="Stroke-3" stroke="#4CD964" stroke-width="1.446" fill="none" points="13.6378 6.396 8.1038 11.93 4.6338 8.614"></polyline></svg>') no-repeat;
  }
}

.action-dropdown {
  .action-dropdown .ui-select-container .ui-select-toggle {
    
  }
  svg {
    position: absolute;
    z-index: 2;
    top: 13px;
    left: 8px;
  }
  &.bulk-actions {
    float: right;
    width: 155px;
    position: relative;
  }
  &.table-actions {
    float: left;
    width: 130px;
    position: relative;
    svg {
      top: 12px;
    }
  }
}
.dropdown-header {
  font-size: 16px;
}