.clearfix {
  &:after {
    clear: both;
    content: " ";
    display: block;
  }
}

.table {
  .cell.sortable {
    cursor: pointer;
    .cell-text {
      float: left;
    }
    &.sortUp {
      .cell-text {
        color: #30AD63;
      }
      .sort {
        .up {
          border-bottom-color: #30AD63;
        }
      }
    }
    &.sortDown {
      .cell-text {
        color: #30AD63;
      }
      .sort {
        .down {
          border-top-color: #30AD63;
        }
      }
    }
  }
  .sort {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    .up {
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      
      border-bottom: 5px solid #7F8FA4;
      &.bottom {
        border-bottom-color: #30AD63;
      }
    }

    .down {
      margin-top: 2px;
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      
      border-top: 5px solid #7F8FA4;
      &.active {
        border-top-color: #30AD63;
      }
    }
    &.sortUp {

    }
  }
  
}

.editable-input {
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    font-size: 18px;
    width: 180px;
    margin-left: 14px;
    border-radius: 4px 0 0 4px;

  }
  .editable-buttons {
    .btn {
      line-height: 21px;
      padding: 3px 4px 2px;
      margin-left: 0;
      &:first-child {
        border-radius: 0;
      }
      &:last-child {
        border-radius: 0 4px 4px 0;
      } 
    }
  }