.clearfix {
  &:after {
    clear: both;
    content: " ";
    display: block;
  }
}

.table {
  .cell.sortable {
    cursor: pointer;
    .cell-text {
      float: left;
    }
    &.sortUp {
      .cell-text {
        color: $color-active;
      }
      .sort .up {
        border-color: transparent transparent $color-active $color-active;
      }
    }
    &.sortDown {
      .cell-text {
        color: $color-active;
      }
      .sort .down {
        border-color: transparent transparent $color-active $color-active;
      }
    }
  }
  .sort {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    .up {
      width: 8px;
      height: 8px;
      border: 2px solid transparent;
      border-color: transparent transparent #7F8FA4 #7F8FA4;
      transform: rotate(135deg);
      &.bottom {
        border-color: $color-active;
      }
    }

    .down {
      margin-top: -6px;
      width: 8px;
      height: 8px;
      border: 2px solid transparent;
      border-color: transparent transparent $color-inactive $color-inactive;
      transform: rotate(-45deg);
      &.active {
        border-color: $color-active;
      }
    }
    &.sortUp {

    }
  }
  
}
.label {
  &.label-purple {
    background-color: #9A5CB4;
  }
}
.editable-input {
  height: 25px;
  line-height: 25px;
  padding: 0 5px;
  font-size: 18px;
  width: 180px;
  margin-left: 14px;
  border-radius: 4px 0 0 4px;

}
.editable-buttons {
  .btn {
    line-height: 21px;
    padding: 3px 4px 2px;
    margin-left: 0;
    &:first-child {
      border-radius: 0;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}
