body .header {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.header {
  .navbar-header {
    opacity: 1;
    animation: logo_animation 1s;

  }
  .not_logged {
    .navbar-header {
      display: none;

    }
  }
}

.header .navbar {
  @include clearfix();
  height: 60px;
  border: 0;
  background: $color-header-primary;
  .navbar-brand {
    float: left;
    padding: 0;
    margin-top: 13px;
    margin-left: -20px;
  }
  .navbar-header {
    width: 100%;
    text-align: center;
  }
  .logo-container {
    position: relative;
    .navbar-brand {
      @include clearfix();
      position: absolute;
      left: 15px;
      margin-left: 0px;
      transition: all 0.1s ease-out;
      img {
        width: 34px;
        float: left;
      }
      .dewpoint {
        width: 117px;
        height: 35px;
        font-family: WorkSans;
        font-size: 30px;
        font-weight: 300;
        letter-spacing: -2.1px;
        color: #ffffff;
        float: left;
        margin: 7px 0 0 9px;
      }
    }
  }
  .not_logged {
    .logo-container .navbar-brand {
      left: 50%;
      margin-left: -80px;
    }
  }
  .navbar-menu {
    @include clearfix();
    padding-top: 10px;
    float: none;
    display: inline-block;
    list-style: none;
    li {
      float: left;
      padding: 8px 15px 5px;
      a {
        font-family: "geomanist_book";
        font-size: $font-size-menu;
        line-height: $line-height-menu;
        color: #D8D8D8;
        position: relative;
        font-family: WorkSans;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: -0.4px;
        .menu-caret {
          margin-left: 5px;
        }
        &:after {
          content: " ";
          display: block;
        }

      }
      &:hover, &.active {
        a {
          color: $menu-hover-color;
          text-decoration: none;
          .menu-caret {
            polyline {
              stroke: $btn-default-color;
            }
          }
          &:after {
            width: 100%;
            height: 2px;
            margin-top: 16px;
            background-color: $menu-hover-color;
          }
        }
      }
      .submenu {
        @include clearfix();
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 0.2s ease-out;
        text-align: center;
        background-color: #C4C9D2;
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 10;

        ul {
          list-style: none;
          display: inline-block;
          padding: 14px 0;
          li {
            padding: 0px 30px;
            border-right: 1px solid $color-primary;
            height: 30px;
            &:last-child {
              border-right: 0;
            }
            a {
              font-family: WorkSans;
              font-size: 17px;
              font-weight: 400;
              letter-spacing: -0.4px;
              color: $color-primary;
              line-height: 30px;
              &:after {
                margin-top: 12px;
                background-color: transparent;
              }
              &.active {
                font-weight: 600;
                &:after {
                  background-color: $color-primary;
                }
              }
              &:hover {
                &:after {
                  background-color: $color-primary;
                }
              }
            }
            &.with-counter {
              span.count {
                font-size: 14px;
                color: #7F8FA4;
                position: absolute;
                margin-left: 25px;
                right: 33px;
                top: 6px;
              }
              padding-right: 70px;
              position: relative;
            }
          }
        }
      }
      & > a {
        &:after {
          width: 100%;
          height: 2px;
          margin-top: 16px;
          background-color: transparent;
        }
      }
      &.active, &:hover {
        & > a {
          color: $menu-hover-color;
          text-decoration: none;
          &:after {
            background-color: $menu-hover-color;
          }
        }
        .submenu {
          opacity: 1;
          height: 58px;
        }
      }
      &:hover {
        .submenu {
          z-index: 100;
        }
      }

    }
  }
}


#user-menu {
  @include clearfix();
  position: absolute;
  right: 0;
  top: 0;
  z-index: 101;
  cursor: pointer;
  .user-btn {
    height: 60px;
    float: right;
    padding: 11px 30px 9px 15px;
    &:after {
      content: " ";
      display: block;
      margin-top: -6px;
      width: 8px;
      height: 8px;
      border: 2px solid transparent;
      border-color: transparent transparent #E7E9ED #E7E9ED;
      transform: rotate(-45deg);
      position: absolute;
      top: 30px;
      right: 13px;
      transition: all $animation-duration ease-out;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .menu {
    clear: right;
    display: none;
    /*transform: scaleY(0);
    opacity: 0;
    transform-origin: center top;*/
    transition: transform $animation-duration ease-out;
    box-shadow: 1px 1px 1px #000;
    li {
      position: relative;
      background-color: #FFF;
      list-style-image: none;
      height: 50px;
      line-height: 50px;
      font-size: 17px;
      font-weight: 500;
      text-align: left;
      padding: 0 28px;
      color: $color-text-primary;
      cursor: pointer;
      border: 1px solid #FFF;
      transition: background $animation-duration ease-out;
      &:hover {
        background-color: $btn-default-color;
        color: #FFF;
      }
      &.withSubmenu {
        &:after {
          content: " ";
          display: block;
          margin-top: -6px;
          width: 8px;
          height: 8px;
          border: 2px solid transparent;
          border-color: transparent transparent $color-text-primary $color-text-primary;
          transform: rotate(45deg);
          position: absolute;
          top: 28px;
          left: 15px;
          oapcity: 0.5;
          transition: left $animation-duration ease-out;
        }
        &:before {
          content: " ";
          display: block;
          margin-top: -6px;
          width: 12px;
          height: 12px;
          background-color: #FFF;
          transform: rotate(45deg);
          position: absolute;
          top: 26px;
          left: 1px;
          oapcity: 0;
          transition: all $animation-duration ease-out;
          border: 1px solid transparent;

        }
        &:hover {
          &:after {
            border-color: transparent transparent #FFF #FFF;
            left: 10px;
            oapcity: 1;
          }
          &:before {
            left: -6px;
            background-color: $btn-default-color;
            opacity: 1;
            z-index: 101;
            border-color: transparent transparent #FFF #FFF;
          }
        }
      }
      &:hover {
        .submenu {
          display: block;
          opacity: 1;
        }
      }
    }
    .submenu {
      position: absolute;
      right: 100%;
      top: -1px;
      display: none;
      opacity: 0;
      transition: opacity 0.2s ease-out;
    }
  }
  &:hover {
    .menu {
      display: block;
    }
    .user-btn {
      background-color: #FFF;
      &:after {
        border-color: transparent transparent $btn-default-color $btn-default-color;
      }
      svg {
        &>g {
          fill: #E7E9ED;
          stroke: #354052;
        }
        &>path {
          fill: #353746;
        }
      }
    }
  }
}