body .header {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.header {
  .navbar-header {
    opacity: 1;
    animation: logo_animation 1s;

  }
  .not_logged {
    .navbar-header {
      display: none;

    }
  }
}

.header .navbar {
  @include clearfix();
  height: 60px;
  border: 0;
  background: $color-header-primary;
  .navbar-brand {
    float: left;
    padding: 0;
    margin-top: 13px;
    margin-left: -20px;
  }
  .navbar-header {
    width: 100%;
    text-align: center;
  }
  .logo-container {
    position: relative;
    .navbar-brand {
      @include clearfix();
      position: absolute;
      left: 15px;
      margin-left: 0px;
      transition: all 0.1s ease-out;
      img {
        width: 34px;
        float: left;
      }
      .dewpoint {
        width: 117px;
        height: 35px;
        font-family: WorkSans;
        font-size: 30px;
        font-weight: 300;
        letter-spacing: -2.1px;
        color: #ffffff;
        float: left;
        margin: 7px 0 0 9px;
      }
    }
  }
  .not_logged {
    .logo-container .navbar-brand {
      left: 50%;
      margin-left: -80px;
    }
  }
  .navbar-menu {
    @include clearfix();
    padding-top: 10px;
    float: none;
    display: inline-block;
    list-style: none;
    li {
      float: left;
      padding: 8px 15px 5px;
      a {
        font-family: "geomanist_book";
        font-size: $font-size-menu;
        line-height: $line-height-menu;
        color: #D8D8D8;
        position: relative;
        font-family: WorkSans;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: -0.4px;
        &:after {
          content: " ";
          display: block;
        }
        &:hover, &.active {
          color: $menu-hover-color;
          text-decoration: none;
          &:after {
            width: 100%;
            height: 2px;
            margin-top: 15px;
            background-color: $menu-hover-color;
          }
        }
      }

      .submenu {
        @include clearfix();
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 0.2s ease-out;
        text-align: center;
        background-color: #C4C9D2;
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 10;

        ul {
          list-style: none;
          display: inline-block;
          padding: 14px 0;
          li {
            padding: 0px 30px;
            border-right: 1px solid $color-primary;
            height: 30px;
            &:last-child {
              border-right: 0;
            }
            a {
              font-family: WorkSans;
              font-size: 17px;
              font-weight: 400;
              letter-spacing: -0.4px;
              color: $color-primary;
              line-height: 30px;
              &:after {
                margin-top: 12px;
                background-color: transparent;
              }
              &.active {
                font-weight: 600;
                &:after {
                  background-color: $color-primary;
                }
              }
              &:hover {
                &:after {
                  background-color: $color-primary;
                }
              }
            }
            &.with-counter {
              span.count {
                font-size: 14px;
                color: #7F8FA4;
                position: absolute;
                margin-left: 25px;
                right: 33px;
                top: 6px;
              }
              padding-right: 70px;
              position: relative;
            }
          }
        }
      }
      & > a {
        &:after {
          width: 100%;
          height: 2px;
          margin-top: 15px;
          background-color: transparent;
        }
      }
      &.active, &:hover {
        & > a {
          color: $menu-hover-color;
          text-decoration: none;
          &:after {
            background-color: $menu-hover-color;
          }
        }
        .submenu {
          opacity: 1;
          height: 58px;
        }
      }
      &:hover {
        .submenu {
          z-index: 100;
        }
      }

    }
  }
}