.icon {
    display: inline-block;
    border-radius: 4px;
    padding: 5px;
    width: 60px;
    height: 60px;
    background-color: $image-bg-color;
    position: relative;
    svg {
        width: 50px;
        height: 50px;
        &.icon-ubuntu {
            width: 45px;
        }
        &.icon-windows {
            width: 45px;
        }
    }
    &.icon-dark {
        background-color: $image-bg-color-dark;
    }
    &.os {
        margin-top: 13px;
        margin-left: 13px;
    }
}

.volume-details {
    .info {
        padding-left: 10px;
        span.name {
            margin-left: 0;
        }
    }
    .icon {
        background-color: #FFF;
    }
}
.list-volumes {
    @include clearfix();
    .volume-wrapper {
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;
        cursor: pointer;
        &.selected {
            .volume-details {
                box-shadow: 0px 0px 4px 0px #30AD63;
                background-color: #FAFAFB;
                border: 1px solid #30AD63;
            }
        }
    }
    .volume-details {
        padding: 15px;
        width: 202px;
        margin-bottom: 0;
        background-color: #E7E9ED;
        border-radius: 4px;

    }
}