
body {
  padding: 0;
  background-color: $color-site-bg;
  font-family: $primary-font;
  letter-spacing: -0.4px;
  padding-bottom: 150px;
}
.container {
  width: 1210px !important;
}
.main {
  .section {
    background: #FFFFFF;
    border: 1px solid #B7C0CD;
    border-radius: 4px;
    margin-bottom: 25px;
    .section-header {
      padding: 20px 20px 18px;
      position: relative;
      h2, h3 {
        margin: 0;
        padding: 0;
      }
    }
    .section-body {
      padding: 18px 20px;
      &.no-padding {
        padding: 0  
      }
    }
  }
}
.main-body {
  margin-top: 110px;
}

#narrow-col {
  @include clearfix();
  .main {
    width: 610px;
    .list-flavors {
      .item-flavor{
        width: 49%;
        margin-right: 2%;
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }
  .sidebar {
    margin-right: 0 !important;
    margin-left: 20px;
  }
}

.panel {
    transition: max-height 0.5s ease-in;
    max-height: 9999px;
    border: 1px solid #B7C0CD;
    h2 {
      padding: 0;
      margin: 0;
      font-weight: 400;
    }
    header {
        height: 60px;
        padding: 13px 20px;
        border-bottom: 1px solid #E7E9ED;
        .svg-caret {
          float: left;
          margin-top: 10px;
          margin-right: 20px;
        }
    }
    section {
      padding: 15px 20px;
      transform: scaleY(1);
      transition: transform 0.26s ease;
      transform-origin: top;

    }
    &.collapsed {
      height: 60px;
      overflow: hidden;
      section {
        transform: scaleY(0);
      }
      header {
        .svg-caret {
          transform: rotate(180deg);
          margin-top: 11px;
        }
      }
    }  
}

.create-pane {
  @include clearfix();
  h1 {
    @include clearfix();
    margin-bottom: 30px;
    svg {
      float: left;
      margin-top: -5px;
      margin-right: 20px;
    }
  }
  &.vm-view-details {
    .main {
      width: 910px;
    }
  }
  .main {
    width: 910px;
    float: left;
  }
  .sidebar {
    width: 280px;
    float: left;
    background-color: #FFF;
    border-radius: 4px;
    padding: 20px;
    margin-right: 20px;
    border: 1px solid #B7C0CD;
    &.is-menu {
      background-color: transparent;
      padding-left: 0;
      padding-top: 0;
      padding-right: 0;
      border: 0;
    }
    span.sidebar-title {
      font-size: 12px;
      display: block;
      color: #9FA9BA;
      text-transform: uppercase;
      padding-left: 43px;
      margin-bottom: 6px;
    }
    .sidebar-menu {
      list-style: none;
      padding-left: 0;
      li {
        list-style-image: none;
        font-family: WorkSans;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        padding-left: 35px;
        border-radius: 4px;
        position: relative;
        margin-bottom: 1px;
        color: #FFF;
        .icon-submenu {
          position: absolute;
          left: 8px;
          top: 5px;
        }
        &:hover {
          background-color: #FFF;
          color: #343645;
        }
        &.active {
          color: #343645;
          background-color: #FFF;
          a {
            text-decoration: none;
          }
        }
        a {
          color: inherit;
          display: inline-block;
          width: 100%;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  &.one-col-right-sidebar {
    .sidebar {
      margin-right: 0;
      margin-left: 20px;
      &.fixed {
        position: fixed;
        margin-left: 930px;
        top: 20px;
      }
    }
  }
  
}