$color_1: rgb(255, 255, 255);
$color_2: rgb(53, 55, 70);

#loader{
    position:absolute;
    width:234px;
    height:28px;
    margin:auto;
    z-index: 100;
    top: 130px;
    left: 50%;
    margin-left: -117px;
    opacity: 0;
    transition: opacity 0.1s ease-in;
}
#loader.loading {
    opacity: 1;
}

.loader{
    position:absolute;
    top:0;
    background-color:$color_1;
    width:28px;
    height:28px;
    animation-name:bounce_loader;
    -o-animation-name:bounce_loader;
    -ms-animation-name:bounce_loader;
    -webkit-animation-name:bounce_loader;
    -moz-animation-name:bounce_loader;
    animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
    border-radius:19px;
    -o-border-radius:19px;
    -ms-border-radius:19px;
    -webkit-border-radius:19px;
    -moz-border-radius:19px;
}

#loader_1{
    left:0;
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
}

#loader_2{
    left:29px;
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}

#loader_3{
    left:58px;
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#loader_4{
    left:88px;
    animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}

#loader_5{
    left:117px;
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#loader_6{
    left:146px;
    animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}

#loader_7{
    left:175px;
    animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}

#loader_8{
    left:205px;
    animation-delay:1.64s;
    -o-animation-delay:1.64s;
    -ms-animation-delay:1.64s;
    -webkit-animation-delay:1.64s;
    -moz-animation-delay:1.64s;
}



@keyframes bounce_loader{
    0%{
        transform:scale(1);
        background-color:$color_1;
    }

    100%{
        transform:scale(.3);
        background-color:$color_2;
    }
}

@-o-keyframes bounce_loader{
    0%{
        -o-transform:scale(1);
        background-color:$color_1;
    }

    100%{
        -o-transform:scale(.3);
        background-color:$color_2;
    }
}

@-ms-keyframes bounce_loader{
    0%{
        -ms-transform:scale(1);
        background-color:$color_1;
    }

    100%{
        -ms-transform:scale(.3);
        background-color:$color_2;
    }
}

@-webkit-keyframes bounce_loader{
    0%{
        -webkit-transform:scale(1);
        background-color:$color_1;
    }

    100%{
        -webkit-transform:scale(.3);
        background-color:$color_2;
    }
}

@-moz-keyframes bounce_loader{
    0%{
        -moz-transform:scale(1);
        background-color:$color_1;
    }

    100%{
        -moz-transform:scale(.3);
        background-color:$color_2;
    }
}