.reserve-floating-ip-modal, .edit-volume-details {
    .project-limits {
        width: 55%;
        display: inline-block;
        .project-label {
            font-family: "geomanist_book";
            font-size: 14px;
            color: #354052;
            margin-bottom: 5px;
        }
        .item {
            font-size: 14px;
            color: #8E8E93;
            margin-bottom: 10px;
        }
    }
    .network-pool {
        width: 44%;
        display: inline-block;
    }
    .modal-body {
        padding: 30px;
    }
}
.edit-volume-details {
    @include clearfix();
    .project-limits {
        width: 100%;
        .form-group {
            width: 30%;
            float: left;
            margin-right: 5%;
        }
        .storage-limit {
            width: 65%;
            float: left;
        }
    }
    .modal-body {
        padding: 15px;
    }
}
.modal-header {
    h3.modal-title {
        font-size: 18px;
        color: #FFFFFF;
    }
    
    background-color: #30AD63;
    border-radius: 4px 4px 0 0;
}
.modal-footer {
    background-color: #F0F3F8;
    border-radius: 0 0 4px 4px;
    .btn-cancel {
        background: #FFFFFF;
        border: 1px solid #7F8FA4;
        border-radius: 4px;
        font-family: "geomanist_book";
        font-size: 14px;
        color: #7F8FA4;
        line-height: 19px;
        &:active {
            background: #7F8FA4;
        } 
    }
}
.modal-xl {
    width: 1200px;
}
.manage-widgets-modal {
    .modal-body {
        padding: 0;
    }
    vm-widgets-editable {
        [vm-field-widget] {
            display: inline-block;
        }
        .vm-widget {
            position: relative;
            .remove-widget {
                display: inline-block;
                opacity: 0.8;
                cursor: pointer;
                position: absolute;
                color: #FFF;
                right: 14px;
                top: 2px;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .vm-widgets-container {
        background-color: #E6EAEE;
        zoom: 0.9;
        padding-top: 10px;
        .empty-row {
            height: $widget-row-height;
            clear: both;
            background-color: lighten(#E6EAEE, 5%);
            margin-right: 10px;
            border-radius: 4px;
        }
        .vm-widget {
            float: none;
            width: 100%;
            padding: 0;
        }
        .widget-container {
            @include clearfix();
            position: relative;
            padding: 0px 10px 10px 0;
            float: left;
            margin-bottom: 10px;
            .widget-overlay {
                position: absolute;
                min-width: 97%;
                height: 100%;
                background-color: rgba(255,255,255, 0.5);
                top: 0;
                left: 0;
                cursor: move;
                &:hover {
                    .remove-widget {
                        border-color: #000;
                        svg {
                            path {
                                fill: #000;
                            }
                        }
                    }
                }
            }
            .remove-widget {
                position: absolute;
                top: 5px;
                right: 5px;
                border: 1px solid #7F8FA4;
                background-color: #FFF;
                border-radius: 4px;
                padding: 2px 3px 0px;
                cursor: pointer;
                &:hover {
                    background-color: lighten(#7F8FA4, 25%);
                }
            }
            @for $i from 1 through 4 {
                @for $j from 1 through 4 {
                    &.size-#{$i}x#{$j} {
                        width: calc(100% / #{$widget-cols} * #{$i});
                        height: calc((#{$widget-row-height} * #{$j}) + (10px * #{$j}));
                    }
                }
            }

        }
    }
    .all-widgets {
        @include clearfix();
        background-color: #FFF;
        height: 120px;
        padding: 40px;
        width: 450px;
        margin: 0 auto;
        .ui-select-container {
            width: 300px;
            margin-right: 15px;
            float: left
        }
        .btn {
            float: left;
        }
    }
}

.manage-volume-attachments-modal {
    .vm-actions {
        margin-bottom: 0;
    }

    .list-volume-attachments {
        .table {
            border-bottom: 1px solid #E7E9ED;
        }
        .table-row {
            padding: 0 0 0 20px;
            &.empty {
                text-align: center;
            }
            line-height: 40px;
            &.active {
                .cell {
                    .radio-btn {
                        &.radio-active {
                            display: block;
                        }
                        &.radio-inactive {
                            display: none;
                        }
                    }
                }
            }
        }
        .cell {
            padding-top: 0;
            &:first-child {
                width: 8%;
            }
            &:nth-child(2) {
                width: 41%;
            }
            &:nth-child(3) {
                width: 41%;
            }
            &:nth-child(4) {
                width: 10%;
                ul {
                    float: right;
                }
            }
            .radio-btn {
                margin-top: 10px;
                &.radio-active {
                    display: none;
                }
                &.radio-inactive {
                    display: block;
                }
            }
        }

    }
    .select-vm {
        padding: 15px;
        @include clearfix();
        .ui-select-container {
            width: 85%;
            float: left;
        }
        .btn-add-attachment {
            width: 14%;
            margin-left: 1%;
            float: left;
        }
    }
    .modal-body {
        padding: 0;
    }
    .btn-add-attachment {
        line-height: 21px;
    }
}