
.main-list {
  background: #FFFFFF;
  border: 1px solid #B7C0CD;
  border-radius: 4px;
  padding-left: 0;
  .list-header {
    padding: 20px 20px 20px 0px;
    @include clearfix();
    h1 {
      font-family: "geomanist_light";
      font-size: 39px;
      color: #354052;
      margin: 0;
      float: left;
      margin-left: 20px;
    }
    .btn-add {
      float: right;
      padding: 7px 12px 5px;
      position: relative;
      font-size: 18px;
      line-height: 26px;
      width: 160px;
      text-align: center;
    }
  }
  .list-categories {
    @include clearfix();
    list-style: none;
    padding-left: 0;
    padding-top: 5px;
    margin-bottom: 0;
    float: left;
    li {
      list-style-image: none;
      float: left;
      padding-right: 60px;
      padding-left: 30px;
      border-right: 1px solid #DFE3E9;
      position: relative;
      cursor: pointer;
      &:first-child {

      }
      &:last-child {
        border-right: 0;
      }
      .name {
        font-size: 24px;
        color: #7F8FA4;
      }
      .count {
        font-size: 14px;
        color: #171725;
        position: relative;
        right: -40px;
        top: -3px;
      }
      &:after {
        content: " ";
        display: none;
        width: 100%;
        position: absolute;
        bottom: -25px;
        left: 0;
        height: 2px;
        background-color: $menu-hover-color;
      }
      &.active, &:hover {
        .name {
          color: #30AD63;
        }
        .count {
          color: #7F8FA4;
        }
        &:after {
          display: block;
        }
      }
    }
  }
}
.ui-select-container {
  .ui-select-toggle {
    background-color: #FFF;
    border: 1px solid #C4C9D2;
    color: #354052;
  } 
  .ui-select-toggle {
    &:hover {
      background-color: #EFEFF4;
      color: #333333
    }
  }
}
.ui-select-bootstrap .ui-select-toggle > .caret {
  color: #B7C0CD;
  pointer-events: none;
}
.table-filter {
  @include clearfix();
  border-top: 1px solid #B7C0CD;
  background-color: #E7E9ED;
  border-bottom: 1px solid #B7C0CD;

  .text-muted {
    color: #354052;
  }
  .ui-select-container:first-child {
    width: 15%;
    float: left;
  }
  .filter-details{
    clear: both;
    .filter-row {
      float: left;
      padding: 10px 20px;

    }
  }
}

.filter-row {
  @include clearfix();
  padding-top: 10px;
  .filter-name {
    font-size: 16px;
    float: left;
    margin-right: 0px;
    font-weight: bold;
    min-width: 80px;
    svg {
      float: left;
      margin-top: 3px;
      margin-right: 5px;
      cursor: pointer;
    }
  }
  .filter-options {
    float: left;
    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      li {
        float: left;
        margin-right: 10px;
        font-size: 16px;
        text-transform: capitalize;
        cursor: pointer;
        &.selected {
          color: #30AD63
        }
      }
    }
    input[type="text"] {
      border-radius: 4px;
      border: 1px solid #B7C0CD;
      padding: 1px 4px;
    }
  }
}
.table-functions {
  float: right;
  .filter-dropdown {
    float: left;
    margin-right: 20px;
  }
  .action-dropdown {
    float: left;
    margin-right: 20px;
  }
  .ui-select-container .ui-select-toggle {
    height: 40px;
    font-size: 16px;
    width: 160px;
    padding: 9px 12px 4px;
    .text-muted {
      color: $font-default-color;
    }
  }
}
.table {
  margin-bottom: 0;
  .table-header {
    padding: 0px 0 0px 20px;
    background-color: #E7E9ED;
    height: 20px;
    line-height: 20px;
    border-top: 1px solid darken(#E7E9ED, 20%);
    @include clearfix();
    .cell {
      font-size: 12px;
      color: $font-default-color;
    }
  }
  .table-row {
    @include clearfix();
    padding: 15px 0 15px 20px;
    border: 1px solid transparent;
    border-bottom: 1px solid #EFEFF4;
    &:last-child {
      border-bottom: 0;
    }
    .cell {
      padding-top: 20px;
      &:first-child {
        padding-top: 0;
      }
      &.iprange-2 {
        padding-top: 10px;
      }
      &.iprange-3 {
          padding-top: 0px;
      }
      &[class^="iprange-"] {
        max-height: 60px;
        overflow: hidden;
      }
    }
    .checkable {
      position: absolute;
      display: inline-block;
      top: 60px;
      left: -21px;
      cursor: pointer;
      svg {
        opacity: 0;
        transition: opacity 0.15s ease-in;
      }
    }
    &:hover {
      .checkable {
        svg {
          opacity: 0.2;
        }
      }
    }
    margin-bottom: -1px;
    &.selected {
      border-color:#54B87E;
      .checkable {
        svg {
          opacity: 1;
        }
      }
    }


  }
  .cell {
    float: left;
    &:first-child {
      width: 30%;
    }
    &:nth-child(2) {
      width: 13%;
    }
    &:nth-child(3) {
      width: 10%;
    }
    &:nth-child(4) {
      width: 10%;
    }
    &:nth-child(5) {
      width: 10%;
    }
    &:nth-child(6) {
      width: 10%;
    }
    &:nth-child(7) {
      width: 17%;
    }
    .vm-actions {
      list-style: none;
      padding-left: 0px;
      li {
        float: left;
        list-style-image: none;
        margin-right: 20px;
        cursor: pointer;
        &.disabled {
          opacity: 0.4
        }
      }
    }
    .network-interface {
      @include clearfix();
      .label {
        float: left;
      }
      .floating-ip {
        border-radius: 4px 4px 0 0;
        margin-bottom: 0px;
      }
      .label {
        text-align: center;
        display: inline-block;
        font-size: 12px;
        margin-right: 5px;
        min-width: 38px;
        text-align: center;
        &.label-pub {
          background-color: #1EAAF1;
        }
        &.label-priv {
          background-color: #9A5CB4;
        }
      }
      .stick {
        margin-top: 0px;
        border-radius: 0 0 4px 4px;
      }
    }
  }
  .radio-btn {
    margin-top: 7px;
  }
}

.vm-table {
  .table-content {
    .table-row {
      transition: background-color 1s;
      .icon {
        float: left;
      }

      .pauseVM {
        .icon-pause {
          display: inline-block;
        }
        .icon-play {
          display: none;
        }
      }

      &.status-running {
        .cell .info .vm-status {
          border-color: $status-running;
        }
        .status {
          background-color: $status-running;
        }
      }
      &.status-paused{
        .pauseVM {
          .icon-pause {
            display: none;
          }
          .icon-play {
            display: inline-block;
          }
        }
        .cell .info .vm-status {
          border-color: $status-paused;
        }
        .status {
          background-color: $status-paused;
        }
      }
      &.status-deploying {
        background-color: lighten($status-deploying, 35%);
      }
      &.status-deploying, &.status-restarting {
        .cell .info .vm-status {
          border-color: $status-deploying;
        }
        .status {
          background-color: $status-deploying;
        }
      }
      &.status-stopped {
        .pauseVM {
          .icon-pause {
            display: none;
          }
          .icon-play {
            display: inline-block;
          }
        }
        .cell .info .vm-status {
          border-color: $status-stopped;
        }
        .status {
          background-color: $status-stopped;
        }
      }

      .vm-actions li{
        &:hover {
          svg {
            path {
              fill: #BBC5D5;
            }
          }
        }
      }
      .cell {
        .status {
          display: inline-block;
          padding: 2px 4px;
          text-transform: uppercase;
          color: #FFF;
          border-radius: 4px;
          font-size: 12px;
          width: 75px;
          text-align: center;
          transition: background-color 0.5s;
        }
        .info {
          float: left;
          padding: 8px 0 0 20px;
          position: relative;
          .name {
            display: block;
            font-size: 18px;
            margin-left: 20px;
            cursor: pointer;
          }
          .details {
            display: block;
            font-size: 12px;
            color: #7F8FA4;
          }
          .vm-status {
            position: absolute;
            top: 15px;
          }
        }
      }
    }
  }
}
.vm-list-table {
  margin-bottom: 0;
  .table-header {
    padding-left: 20px;
    border-top-width:0px;
  }
  .table-content {
    .table-row {
      padding-left: 0px;
      padding-bottom: 0px;
      transition: background 0.2s ease-in;

      $start: lighten(#30ad63, 50%);
      $end: #FFF;
      .icon {
        cursor: pointer;
        &:hover {
        }
      }
      .cell{
        &:first-child {
          position: relative;
          .vm-caret {
            position: absolute;
            right: 20px;
            top: 20px;
            padding: 5px 5px 1px 5px;
            cursor: pointer;
            transition: transform 0.1s;
            &:hover {
                border-color:#354052;
                border-radius: 4px;
                background-color: #E6EAEE;
            }
          }
        }
      }
      .vm-excerpt {
        @include clearfix();
        padding-left: 20px;
        padding-bottom: 20px;
      }
      .vm-detail-row {
        background-color: $bg-default-color;
        transition: all 0.1s ease-in;
        overflow: hidden;
        height: 0;
        padding: 0px;
        position: relative;
        .manage-widgets {
          position: absolute;
          top: 3px;
          right: 3px;
          cursor: pointer;
          color: #354052;
          &:hover {
            color: #BBC5D5;
          }
        }
        
      }
      &.detailView {
        background: $bg-default-color;
        .cell .info .details{
          color: #354052;
        }
        .cell{
          &:first-child {
            .vm-caret {
              transform: scale(-1);
              &:hover {
                background-color: #FFF;
              }
            }
          }
        }
        .icon {
          background-color: #FFF;
        }
        .vm-actions {
          svg {
            path {
              fill: #354052;
            }
          }
        }
        .vm-detail-row {
          @include clearfix(); 
          height: $widget-container-height;
          display: block;
        }
        .vm-caret {
          svg {
            polyline {
              stroke: $font-default-color;
            }
          }
        }
      }
    }
  }
}

.volumes-list-table {

  .cell {
    &:first-child {
      width: 26%;
    }
    &:nth-child(2) {
      width: 26%;
    }
    &:nth-child(3) {
      width: 18%;
    }
    &:nth-child(4) {
      width: 5%;
    }
    &:nth-child(5) {
      width: 5%;
    }
    &:nth-child(6) {
      width: 6%;
    }
    &:nth-child(7) {
      width: 14%;
    }
    .vm-actions {
      li {
        margin-right: 15px;
      }
    }
    .ui-select-container .ui-select-toggle {
     width: 90%;
      margin-top: 10px;
    }
  }
  .table-row {
    .cell:nth-child(2) {
      padding-top: 0px;
    }
  }
  .vm-details {
    margin-bottom: 0;
  }
  .icon-volume {
    background-color: #FFF;
    cursor: pointer;
    &:hover {
      background-color: #FFF;
    }
  }
  .table-content .table-row {
    .volume-details {
      .info {
        padding-left: 5px;
        .name {
          margin-left: 0;
        }
      }
    }
  }
}
.table-vm-volumes {
  .cell {
    &:first-child { width: 30%; }
    &:nth-child(2) { width: 50%; }
    &:nth-child(3) { width: 10%; }
    &:nth-child(4) { width: 10%; }
  }
}

.list-volumes {
  margin-bottom: -10px;
}
.vm-widgets-container {
  @include clearfix();
  padding: 0px 10px 10px 20px;
}
.vm-widget {
  padding: 0px 10px 10px 0;
  float: left;
  .vm-widget-container {
    border-radius: 4px;
    overflow: hidden;
    height: 100%;
    @include clearfix();
    padding: 0;
    background-color: #FFF;
  }
  .vm-widget-header {
      font-family: "geomanist_book";
      font-size: 14px;
      color: $font-default-color;
      background-color: #FFF;
      line-height: 30px;
      padding-left: 7px;
      border-bottom: 1px solid $light-grey;
    }
  @for $i from 1 through 4 {
    @for $j from 1 through 4 {
      &.size-#{$i}x#{$j} {
        width: calc(100% / #{$widget-cols} * #{$i});
        height: calc((#{$widget-row-height} * #{$j}) + (10px * #{$j}));
      }
    }
  }
  &.vm-field-widget {
    .vm-widget-container{
      
      position: relative;
      .vm-widget-content {
        font-size: 13px;
      }
      .field-container {
        @include clearfix();
        position: relative;
        line-height: 22px;
      }
      span.field-label {
        height: 100%;
        min-width: 70px;
        color: $font-default-color;
        background-color: #FFF;
        border-right: 1px solid $light-grey;
        text-align: right;
        padding-right: 10px;
        display: block;
        float: left;
        font-family: "geomanist_medium";
      }
      span.field-value {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        float: left;
        text-overflow: ellipsis;
        padding: 0 5px 0 10px;
      }
      .clipboard {
        position: absolute;
        right: 5px;
        top: 0px;
        cursor: pointer;
      }
    }
  }
  &.resource-consumption-widget {
    .col {
      width: 28%;
      float: left;
      text-align: center;
      span {
        display: block;
        &.resource-label {
          font-size: 16px;
          font-family: "geomanist_book";
          color: $font-default-color;
          background-color: #FFF;
          border-right: 1px solid $light-grey;
          border-bottom: 1px solid $light-grey;
          padding: 5px 0;
        }
        &.resource-value {
          font-family: "geomanist_book";
          font-size: 14px;
          padding-top: 10px;
        }
      }
      &:last-child {
        width: 44%;
        .resource-label {
          border-right: 0;
        }
      }
    }
  }
  &.security-groups-widget {
    @extend .vm-field-widget;
    font-size: 13px;
    .vm-widget-container {
      span.field-label {
        text-align: center;
        padding-right: 0;
      }
    }
  }
  &.vm-tags-widget {
    .add-tag {
      float: right;
    }
    input[type="text"] {
      height: 25px;
      width: 120px;
    }
    .btn {
      height: 24px;
      line-height: 23px;
      padding: 0 10px;
      margin: 3px 4px 0 4px;
      border-radius: 2px;
      float: right;
    }
    .vm-widget-content {
      padding: 5px 0 7px 7px;
    }
    .tags {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      max-height: 80px;
      overflow-y: scroll;
      li {
        font-size: 12px;
        line-height: 17px;
        margin-right: 10px;
        margin-bottom: 3px;
        display: inline-block;
        padding-right: .3em;
        svg {
          float: right;
          cursor: pointer;
          margin-left: 2px;
          &:hover {
            path {
              fill: #333;
            }
          }
        }
      }
    }

  }
}

.network-table {
  .cell {
    &:first-child {
      width: 5%;
    }
    &:nth-child(2) {
      width: 25%;
    }
    &:nth-child(3) {
      width: 40%;
    }
    &:nth-child(4) {
      width: 20%;
    }
    &:nth-child(5) {
      width: 10%;
    }
  }
  .status-circle {
    &.network-status {
      float: left;
      margin-top: 10px;
      margin-right: 5px;
    }
    &.up {
      border-color: #30AD63;
    }
    &.down {
      border-color: #FF3B30;
    }
  }
  .table-row {
    line-height: 35px;
    .cell {
      padding-top: 0;
      .radio-btn{
        margin-top: 10px;
        &.radio-active {
          display: none;
        }
        &.radio-inactive {
          display: block;
        }
      }
    }
    &.active {
      .cell {
        .radio-btn {
          &.radio-active {
            display: block;
          }
          &.radio-inactive {
            display: none;
          }
        }
      }
    }
  }
}
.vm-view-details .network-table {
  .cell {
    &:first-child {
      width: 12%;
    }
    &:nth-child(2) {
      width: 22%;
    }
    &:nth-child(3) {
      width: 15%;
    }
    &:nth-child(4) {
      width: 15%;
    }
    &:nth-child(5) {
      width: 25%;
      .ui-select-container {
        width: 80%;
      }
    }
    &:nth-child(6) {
      width: 10%;
    }
  }
}
.table.table-floating-ips {
  .cell {
    &:first-child {
      @include clearfix();
      position: relative;
      width: 20%;
      .item-icon {
        float: left
      }
      .name {
        float: left;
        margin-top: 15px;
        margin-left: 10px;
        font-family: "geomanist_book";
        font-size: 18px;
        color: #354052;
      }
    }
    &:nth-child(2) {
      width: 32%;
      padding-top: 0px;
      .ui-select-container {
        margin-top: 10px;
        width: 300px;
      }
    }
    &:nth-child(3) {
      width: 18%;
    }
    &:nth-child(4) {
      width: 10%;
    }
    &:nth-child(5) {
      width: 10%;
    }
  }
  .vm-details {
    margin-bottom: 0;
    cursor: pointer;
  }
  .connector {
    position: absolute;
    right: 30px;
    top: 20px;
  }
  .network_interface {
    width: 200px;
    margin-top: -10px;
  }
}
.table-network-list {
  .item-icon {
    float: left
  }
  .name {
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    font-family: "geomanist_book";
    font-size: 18px;
    color: #354052;
  }
  .cell{
    &:first-child {
      width: 25%;
    }
    &:nth-child(2) {
      width: 20%;
      span {
        font-family: "geomanist-book";
        display: inline-block;;
        width: 75px;
      }
    }
    &:nth-child(3) {width: 15%}
    &:nth-child(4) {width: 15%}
    &:nth-child(5) {width: 15%}
    &:nth-child(6) {width: 10%}
  }
}
.table-routers-list {
  .item-icon {
    float: left
  }
  .name {
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    font-family: "geomanist_book";
    font-size: 18px;
    color: #354052;
  }

  .cell{
    &:first-child {
      width: 20%;
    }
    &:nth-child(2) {
      width: 20%;
      span {
        font-family: "geomanist-book";
        display: inline-block;;
        width: 75px;
      }
    }
    &:nth-child(3) {width: 20%}
    &:nth-child(4) {width: 10%}
    &:nth-child(5) {width: 10%}
    &:nth-child(6) {width: 10%}
    &:nth-child(7) {width: 10%}
  }
  .table-row {
    .cell:nth-child(4) {
      padding-top: 17px;
    }
    .cell:nth-child(3) {
      &>div {
        @include clearfix()
      }
      span {
        float: left;
        &:nth-child(2) {
          margin: 3px 3px 0 3px;
        }
      }
    }
  }
}
.table-snapshots {
  .table-row {
    padding-left: 18px;
  }
  .cell {
    width: 20%;
    .snapshot-icon {
      float: left;
      margin-right: 15px;
    }
    .name {
      float: left;
      margin-top: 15px;
    }
    &:first-child {
      width: 40%;
    }
    
  }
}
.table-main-snapshots {
  .cell {
    &:first-child {
      width: 60%;
    }
    &:nth-child(2) {
      width: 10%;
    }
    &:nth-child(3) {
      width: 10%;
    }
    &:nth-child(4) {
      width: 10%;
    }
    &:last-child {
      width: 10%;
    }
  }
}
.list-filters {
  border-top: 1px solid #E7E9ED;
  margin-bottom: 10px;
  margin-top: -20px;
  a {
    font-size: 16px;
    color: #7F8FA4;
    margin-right: 15px;
    cursor: pointer;
    text-transform: capitalize;
    line-height: 35px;
    display: inline-block;
    
    &.active, &:hover {
      color: #30AD63;
      text-decoration: none;
      border-top: 1px solid #30AD63; 
    }
  }
}
.network-add-interface {
  position: absolute;
  top: 15px;
  right: 15px;
  .ui-select-container {
    float: left;
    margin-right: 15px;
    min-width: 200px;
  }
  a.btn-add-interface {
    float: left;
    height: 33px;
  }
}
.empty-table {
  text-align: center;
  padding-bottom: 20px;
  h4 {
    
  }
  .btn {
    float: none;
    padding: 10px 15px;
  }
}

.status-circle {
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 2px solid gray;
  border-radius: 50%;
}