$base_color: #f8f8f8;
$menu-hover-color: #39CA74;
$dark-blue: #354052;
$font-size-menu: 20px;
$line-height-menu: 24px;
$font-color-label: #7F8FA4;
$pad: 15px; // general padding

$status-running: #30AD63;
$status-deploying: #FD9727;
$status-paused: #7F8FA4;
$status-stopped: #BE3A31;

$image-bg-color: #E7E9ED;
$image-bg-color-dark: #354052;