// Layout
$site-width: 1210px;

$base_color: #f8f8f8;
$menu-hover-color: #39CA74;
$dark-blue: #354052;
$font-default-color: #353746;
$font-size-menu: 20px;
$line-height-menu: 24px;
$font-color-label: #7F8FA4;
$pad: 15px; // general padding

$widget-container-height: 136px;
$widget-cols: 10;
$widget-rows: 3;
$widget-row-height: 55px;

// Common colors
$light-grey: #C4C9D2;

$btn-default-color: #4CD964;
$bg-default-color: #D6D9E0;


// Typography
$primary-font: WorkSans;
$secondary-font: "Open Sans";



///// COLORS /////
$color-primary: #353746;
$color-site-bg: #57596c;
$color-header-primary: $color-primary;
$color-text-primary: $color-primary;
$color-bg-secondary: #dde0e5;


// Statuses colors
$color-status-purple: #9a5cb4;
$color-status-green: #4cd964;
$color-status-grey: #8b8ea1;
$color-status-red: #ff2d55;
$color-active: #353746;
$color-inactive: #9ea0b0;

// Vm Statuses
$status-running: $color-status-green;
$status-deploying: #FD9727;
$status-paused: #7F8FA4;
$status-error: $color-status-red;
$status-stopped: #BE3A31;

// Icon Bg Colors
$image-bg-color: #dde0e5;
$image-bg-color-dark: #354052;

// Animations
$animation-duration: 0.2s;