// ---------------- //
// SECTION: VM LIST VIEW

.vm-table {
  margin-bottom: 0;
  .table-header {
    padding-left: 20px;
    border-top-width:0px;
  }
  .table-content {
    .table-row {
      padding-left: 0px;
      padding-bottom: 0px;
      transition: background 0.2s ease-in;
      .icon {
        cursor: pointer;
        &:hover {
        }
      }
      .cell{
        &:first-child {
          position: relative;
          padding-top: 0;
          .vm-caret {
            position: absolute;
            right: 20px;
            top: 20px;
            padding: 5px 5px 1px 5px;
            cursor: pointer;
            transition: transform 0.1s;
            &:hover {
              border-color:#354052;
              border-radius: 4px;
              background-color: #E6EAEE;
            }
          }
        }
        &:nth-child(6) {
          padding-top: 13px;
        }
      }
      .vm-excerpt {
        @include clearfix();
        padding-left: 20px;
        padding-bottom: 10px;
      }
      .vm-detail-row {
        background-color: #d2d6dc;
        transition: all 0.1s ease-in;
        overflow: hidden;
        height: 0;
        padding: 0px;
        position: relative;
        .manage-widgets {
          position: absolute;
          top: 3px;
          right: 3px;
          cursor: pointer;
          color: #354052;
          &:hover {
            color: #BBC5D5;
          }
        }

      }
      &.detailView {
        background: #d2d6dc;
        .cell .info .details{
          color: #354052;
        }
        .cell{
          &:first-child {
            .vm-caret {
              transform: scale(-1);
              &:hover {
                background-color: #FFF;
              }
            }
          }
        }
        .icon {
          background-color: #FFF;
        }
        .table-actions {
          svg {
            path {
              fill: #354052;
            }
          }
        }
        .vm-detail-row {
          @include clearfix();
          height: $widget-container-height;
          display: block;
          &.height-2 {
            height: calc(2 * #{$widget-container-height});
          }
        }
        .vm-caret {
          svg {
            polyline {
              stroke: $font-default-color;
            }
          }
        }
      }
    }
  }

  // statuses
  .table-content {
    .table-row {
      transition: background-color 1s;
      .icon {
        cursor: pointer;
        &:hover {
          background-color: lighten(#C4C9D2, 10%);
        }
      }
      .pauseVM {
        .icon-pause {
          display: inline-block;
        }
        .icon-play {
          display: none;
        }
      }

      &.status-running {
        .cell .info .vm-status {
          border-color: $status-running;
        }
        .status-pill {
          background-color: $status-running;
        }
      }
      &.status-paused{
        .pauseVM {
          .icon-pause {
            display: none;
          }
          .icon-play {
            display: inline-block;
          }
        }
        .cell .info .vm-status {
          border-color: $status-paused;
        }
        .status-pill {
          background-color: $status-paused;
        }
      }
      &.status-deploying {
        background-color: lighten($status-deploying, 35%);
      }
      &.status-deploying, &.status-restarting {
        .cell .info .vm-status {
          border-color: $status-deploying;
        }
        .status-pill {
          background-color: $status-deploying;
        }
      }
      &.status-stopped {
        .pauseVM {
          .icon-pause {
            display: none;
          }
          .icon-play {
            display: inline-block;
          }
        }
        .cell .info .vm-status {
          border-color: $status-stopped;
        }
        .status-pill {
          background-color: $status-stopped;
        }
      }
    }
  }
}

// -------------- //
// SECTION: CREATE VM

#create-vm {
  .panel{
    &:first-child {
      z-index: 10;
    }
  }
  .panel-networks {
    section {
      padding: 0;
    }
    h2 {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
  .panel-security-groups {
    section {
      padding: 0;
    }
  }
  .sources-panel {
    overflow: hidden;
    section {
      padding-top: 0;
      padding-bottom: 0;
    }
    .panel-group {
      margin-bottom: 0;
      &> .panel {
        margin: 0 -20px;
        border: 0;
        .panel-heading {
          padding-left: 20px;
          a {
            display: block;
          }
          i {
            float: left;
            margin-right: 15px;
            opacity: 0.1;
            transition: opacity 0.15s ease-in;
          }
        }
        .panel-body {
          padding: 15px 20px;
        }
        &.active {
          i {
            opacity: 1;
          }
        }
        .option {
          .radio-btn {
            float: left;
            margin-top: 0px;
            margin-right: 5px;
          }
          .radio-active{
            display: none;
          }
          &.selected {
            .radio-active {
              display: block;
            }
            .radio-inactive {
              display: none;
            }
          }
        }
      }
    }
  }
  #flavor-section {
    padding: 0;
    border: 0;
    margin-top: 4px;
    margin-bottom: 0;
    .section-body {
      padding: 0;
    }
  }
  .form {
    @include clearfix();
    .general-field {
      float: left;
      padding-right: 50px;
      &.name {
        width: 40%;
      }
      &.zone {
        width: 40%;
      }
      &.count {
        width: 20%;
      }
      &.description {
        margin-top: 15px;
        width: 40%;
        textarea {
          resize: none;
          width: 100%;
          padding: 6px 12px;
          font-size: 14px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }
      }
    }

  }
  .ui-select-container.zone {
    width: 100%;
  }

}


.volume-details {
  .info {
    padding-left: 10px;
    span.name {
      margin-left: 0;
    }
  }
  .icon {
    background-color: #FFF;
  }
}
.list-volumes {
  @include clearfix();
  .volume-wrapper {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    cursor: pointer;
    &.selected {
      .volume-details {
        box-shadow: 0px 0px 4px 0px #30AD63;
        background-color: #FAFAFB;
        border: 1px solid #30AD63;
      }
    }
    &:nth-child(3) {
      margin-right: 0;
    }
  }
  .volume-details {
    padding: 15px;
    width: 275px;
    margin-bottom: 0;
    background-color: #E7E9ED;
    border-radius: 4px;
    @include clearfix();
  }
  .icon-volume, .icon-snapshot {
    float: right;
  }
  .icon-volume {
    svg {
      margin-left: 6px;
    }
  }
}


$vmNetworksColSizes: (
        1 8% "default", // name
        2 22% "default", // subnets
        3 40% "default", // shared
        4 20% "default", // admin state
        5 10% "default", // status
);

@include generateTable("vm-create-networks", $vmNetworksColSizes);

.vm-create-networks-table {
  .status-circle {
    &.network-status {
      float: left;
      margin-top: 10px;
      margin-right: 5px;
    }
    &.up {
      border-color: #30AD63;
    }
    &.down {
      border-color: #FF3B30;
    }
  }
  .table-row {
    line-height: 35px;
    .cell {
      &:first-child {
        padding-top: 7px;
        height: 35px;
      }
      padding-top: 0;
    }
  }
}


// -------------- //
// SECTION: VM DETAIL VIEW


.vm-details-panel {
  @include clearfix();
  margin-bottom: 20px;
  .editable-input {
    width: 200px !important;
    height: 26px;
  }
  .controls {
    padding-top: 11px;
    a:first-child, a:nth-child(2) {
      width: 83px;
    }
  }
  &.status-running {
    .cell .info .vm-status {
      border-color: $status-running;
    }
    .status {
      background-color: $status-running;
    }
    .status-circle {
      border-color: $status-running;
    }
  }
  &.status-paused {
    .pauseVM {
      .icon-pause {
        display: none;
      }
      .icon-play {
        display: inline-block;
      }
    }
    .cell .info .vm-status {
      border-color: $status-paused;
    }
    .status {
      background-color: $status-paused;
    }
    .status-circle {
      border-color: $status-paused;
    }
  }
  &.status-deploying, &.status-restarting {
    .status {
      background-color: $status-deploying;
    }
    .cell .info .vm-status {
      border-color: $status-deploying;
    }
    .status-circle {
      border-color: $status-deploying;
    }
  }
  &.status-stopped {
    .pauseVM {
      .icon-pause {
        display: none;
      }
      .icon-play {
        display: inline-block;
      }
    }
    .cell .info .vm-status {
      border-color: $status-stopped;
    }
    .status {
      background-color: $status-stopped;
    }
    .status-circle {
      border-color: $status-stopped;
    }
  }
}

.vm-details {
  .icon {
    display: inline-block;
    border-radius: 8px;
    padding: 5px;
    width: 60px;
    height: 60px;
    float: left;
    transition: background-color 0.5s;
    &.windows {
      svg.windows {margin-left: 5px; margin-top: 6px;}
    }
    &.ubuntu {
      svg.ubuntu {margin-left: 5px; margin-top: 6px;}
    }
    &.cirros {
      svg.cirros {margin-left: 7px; margin-top: 6px;}
    }
    &.centos {
      svg.centos {margin-left: 2px; margin-top: 5px;}
    }
    &.coreos{
      svg.coreos {margin-left: 8px; margin-top: 8px;}
    }
  }
  .info {
    float: left;
    padding: 8px 0 0 20px;
    position: relative;
    .name {
      display: inline-block;
      font-size: 18px;
      margin-left: 20px;
    }
    i {
      opacity: 0.5
    }
    .details {
      display: block;
      font-size: 12px;
      color: #7F8FA4;
    }
    .vm-status {
      position: absolute;
      top: 15px;
    }
  }
}

.vm-view-details {
  background: #FFFFFF;
  border: 1px solid #B7C0CD;
  border-radius: 4px;
  padding: 20px;
  .vm-details {
    .info {
      padding-left: 10px;
    }
  }
}

$vmViewNetworksColSizes: (
        1 12% "default", // name
        2 22% "default", // subnets
        3 15% "default", // shared
        4 15% "default", // admin state
        5 25% "default", // status
        6 10% "default", // actions
);

@include generateTable("vm-view-networks", $vmViewNetworksColSizes);

.vm-view-networks-table {
  .cell {
    &:nth-child(5) {
      .ui-select-container {
        width: 80%;
      }
    }
  }
}

.network-add-interface {
  position: absolute;
  top: 15px;
  right: 15px;
  .ui-select-container {
    float: left;
    margin-right: 15px;
    min-width: 200px;
  }
  a.btn-add-interface {
    float: left;
    height: 33px;
  }
}


// ----------------- //
// SECTION: VOLUMES

$volumeColSizes: (
        1 24% "0", //name
        2 24% "default", //attached to
        3 18% "default", // description
        4 5% "default", // region
        5 8% "13px 0 0 0", // status
        6 7% "default", // bootable
        7 14% "default" // actions
);

@include generateTable("volumes", $volumeColSizes);

.volumes-table {
  .cell {
    .table-actions {
      li {
        margin-right: 15px;
      }
    }
    .ui-select-container .ui-select-toggle {
      width: 90%;
    }
  }
  .table-row {
    .cell:nth-child(2){
      padding-top: 0;
      &.empty {
        padding-top: 10px;
      }
    }
  }
  .vm-details {
    margin-bottom: 0;
  }
  .icon-volume {
    background-color: #FFF;
    cursor: pointer;
    &:hover {
      background-color: #FFF;
    }
  }
  .table-content .table-row {
    .volume-details {
      .info {
        padding-left: 5px;
        .name {
          margin-left: 0;
        }
      }
    }
  }
}

$vmVolumesCols: (
        1 30% "default",
        2 50% "default",
        3 10% "default",
        4 10% "default",
);

@include generateTable('vm-volumes', $vmVolumesCols);

.list-volumes {
  margin-bottom: -10px;
}


// -------------- //
// SECTION: Snapshots


$snapshotsCols: (
        1 60% "0", // name
        2 10% "default", //region
        3 10% "default", // date
        4 10% "default", //size
        5 10% "default" // actions
);

@include generateTable('snapshots', $snapshotsCols);

$vmSnapshotsCols: (
1 60% "0", // name
2 14% "default", //region
3 14% "default", // date
4 12% "default", //size
);

@include generateTable('vm-snapshots', $vmSnapshotsCols);

.snapshots-table, .vm-snapshots-table {
  .cell {
    .snapshot-icon {
      float: left;
      margin-right: 15px;
    }
    .name {
      float: left;
      margin-top: 15px;
    }
  }
}