// This SASS file contains the generic stylesheets for create panes

.create-pane {
  h1 {
    font-family: WorkSans;
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
    letter-spacing: -0.5px;
    color: #FFF;
    margin-top: 0;
  }
  .list-images {
    @include clearfix();
    .item-image {
      float: left;
      background-color: #E7E9ED;
      border-radius: 4px;
      width: 202px;
      height: 130px;
      margin-right: 20px;
      margin-bottom: 20px;
      position: relative;
      cursor: pointer;
      .image {
        float: right;
        width: 60%;
        font-family: "geomanist_book";
        font-size: 18px;
        color: $dark-blue;
        padding: 0px 22px 0 5px;
        margin-top: 15px;
      }
      .os {
        .icon {
          width: 60px;
          height: 60px;
          margin: 10px 22px 0 10px;
          background-color: $image-bg-color;
        }
        &.icon-dark:hover {
          background-color: #354052;
        }
      }
      .favorite-icon {
        position: absolute;
        right: 8px;
        top: 8px;
        cursor: pointer;
        &:hover {
          path {
            fill: lighten(#FEB05A, 10%);
          }
        }
      }
      &.favorited {
        .favorite-icon {
          path {
            fill: #FEB05A;
          }
        }
      }

      .version {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #B7C0CD;
        border-top: 1px solid #B7C0CD;
        padding: 10px 0 10px 15px;
        border-radius: 0 0 4px 4px;
      }
      &.active, &:hover {
        border-color: #30AD63;
      }
      &.active {
        box-shadow: 0px 0px 4px 0px #30AD63;
        background-color: #FAFAFB;
        .version {
          background: #30AD63;
        }
      }
      &:nth-child(4n) {
        margin-right: 0;
      }


    }
  }
  .empty-results {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
  }
  .list-flavors {
    @include clearfix();
    .item-flavor {
      float: left;
      background-color: #E7E9ED;
      border-radius: 4px;
      width: 32%;
      margin-right: 2%;
      margin-bottom: 20px;
      position: relative;
      .favorite-icon {
        position: absolute;
        right: 15px;
        top: 18px;
        cursor: pointer;
        &:hover {
          path {
            fill: lighten(#FEB05A, 10%);
          }
        }
      }
      &.favorited {
        .favorite-icon {
          path {
            fill: #FEB05A;
          }
        }
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
      .flavor-specs {
        padding: 10px;
      }
      .name {
        padding: 13px 15px 10px;
        font-family: 'geomanist_book';
        font-size: 18px;
        line-height: 22px;
        color: #354052;
        border-bottom: 1px solid #7F8FA4;
        svg {
          margin-right: 10px;
          float: left;
        }

      }
      .details {
        padding: 10px 0;
        span {
          display: inline-block;
          width: 34%;
          font-family: "geomanist_book";
          font-size: 24px;
          line-height: 24px;
          color: #354052;
          &:first-child {
            width: 20%;
          }
          &:last-child {
            width: 42%;
          }
          label {
            font-size: 14px;
            line-height: 16px;
            color: #7F8FA4;
            display: block;
          }
          &:last-child {
            border-right: 0;
          }
        }
      }
      .price {
        @include clearfix();
        width: 100%;
        background-color: #B7C0CD;
        border-top: 1px solid #B7C0CD;
        padding: 7px 15px;
        .value {
          font-family: "geomanist_book";
          font-size: 24px;
          color: #354052;
          float: left;
        }
        .label-value {
          float: left;
          line-height: 35px;
          font-size: 14px;
          color: #7F8FA4;
          text-transform: uppercase;
          margin-left: 10px;
        }
      }
      &.active, &:hover {
        border-color: #30AD63;
      }
      &.active {
        background-color: #FAFAFB;
        box-shadow: 0px 0px 4px 0px #30AD63;
        .price {
          background-color: #30AD63;
          .value, .label-value {
            color: #FFF;
          }
        }
      }
    }
  }
  .list-security-groups {
    .cell {
    }
    .table-row {
      line-height: 35px;
      .cell {
        padding-top: 0;
        &:first-child {
          padding-top: 7px;
          height: 35px;
          width: 8%;
        }
      }
      .cell .radio-btn.radio-inactive {
        display: block;
      }
      .cell .radio-btn.radio-active {
        display: none;
      }
      &.active {
        .cell .radio-btn.radio-inactive {
          display: none;
        }
        .cell .radio-btn.radio-active {
          display: block;
        }
      }
    }
  }


  .form-inline {
    .form-group {
      &:first-child {
        width: 40%;
        padding-right: 20px;
      }
      &:nth-child(2) {
        width: 40%;
        padding-right: 20px;
      }
      &:last-child {
        width: 15%;
      }
      input {
        width: 100%;
      }
    }
  }
}