#vm-map {
  border-top: 2px solid #B7C0CD;
  width: 1210px;
  height: 728px;
  position: relative;
  .controls {
    background: #FFFFFF;
    border: 1px solid #B7C0CD;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.40);
    border-radius: 4px;
    width: 40px;
    height: 85px;
    position: absolute;
    top: 22px;
    left: 25px;
    .control {
      cursor: pointer;
      &.zoom-in {
        padding: 8px 10px 0px;
      }
      &.zoom-out {
        padding: 0px 10px 4px;
      }
      &.rearrange {
        padding: 0px 10px;
      }
      &:hover {
        opacity: 0.75;
      }
    }
  }
  #paper {
    position: absolute;
    top: 0;
  }
}
.link-tools .tool-remove { display: none }
.link-tools .tool-options { display: none }
.link.joint-theme-default .marker-arrowhead {
  display: none;
}
