<div class="main-list">
    <div class='list-header'>
        <h1>{{ 'ROUTERS' | translate }}</h1>
        <a class="btn btn-primary btn-add">
            {{ 'CREATE_ROUTER' | translate }}
        </a>
    </div>
    <div class='table routers-table'>
        <div class='table-header'>
            <div class='cell'>{{ 'NAME' | translate }}</div>
            <div class='cell'>{{ 'INTERFACES' | translate }}</div>
            <div class='cell'>{{ 'STATIC_ROUTES' | translate }}</div>
            <div class='cell'>{{ 'ADMIN_STATE' | translate }}</div>
            <div class='cell'>{{ 'EXTERNAL_NETWORK' | translate }}</div>
            <div class='cell'>{{ 'STATUS' | translate }}</div>
            <div class='cell'>{{ 'ACTIONS' | translate }}</div>
        </div>
        <div  class='table-row' ng-repeat="item in netView.apiService.routers">
            <div class='cell'>
                <div class="item-icon icon-table icon-router"></div>
                <div class='name'>
                    {{item.name}}
                </div>
            </div>
            <div class='cell'>
                <div ng-repeat="subnet in item.interfaces">
                    <span>{{subnet.name}}</span> {{subnet.ip}}
                </div>
            </div>
            <div class="cell">
                <div ng-repeat="subnet in item.interfaces">
                    <span>{{subnet.route1}}</span>
                    <span>
                        <svg width="20px" height="15px" viewBox="-1 -1 20 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <polyline id="Line" stroke="#5B6779" stroke-width="1" stroke-linecap="round" fill="none" transform="translate(14.415755, 6.438954) rotate(-270.000000) translate(-14.415755, -6.438954) " points="20.8032541 9.69855556 14.2840516 3.17935315 8.02825674 9.43514805"></polyline>
                            <path d="M0.482482171,6.24917165 L16.5108681,6.24917165" id="Line" stroke="#5B6779" stroke-width="1" stroke-linecap="square" fill="none"></path>
                        </svg>
                    </span>
                    <span>{{subnet.route2}}</span>
                </div>
            </div>
            <div class='cell'>
                <label><input type="checkbox" class="ios-switch green" checked /><div><div></div></div></label>
            </div>
            <div class="cell">
                public
            </div>
            <div class='cell'>
                <div class="status-pill green">ACTIVE</div>
            </div>
            <div class='cell'>
                <ul class="table-actions">
                    <li data-toggle="confirmation" uib-tooltip="Set Gateway" data-placement="top" mwl-confirm message="{{ 'RELEASE_FLOATING_IP_CONFIRM' | translate }}" ">
                        <div class="icon-action icon-gateway"></div>
                    </li>
                    <li>
                        <div class="icon-action icon-newinterface"></div>
                    </li>
                    <li>
                        <div class="icon-action icon-newroute"></div>
                    </li>
                    <li data-toggle="confirmation"  data-placement="top" mwl-confirm message="{{ 'NETWORK_DELETE_CONFIRM' | translate }}" title="{{ 'DELETE' | translate }}" on-confirm="vm.removeInterface(network_interface)">
                        <div class="icon-action icon-delete"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>