<div class="main-list">
    <div class='list-header'>
        <h1>{{ 'NETWORKS' | translate }}</h1>
        <a class="btn btn-primary btn-add">
            {{ 'ADD_NETWORK' | translate }}
        </a>
    </div>
    <div class='table networks-table'>
        <div class='table-header'>
            <div class='cell'>{{ 'NAME' | translate }}</div>
            <div class='cell'>{{ 'SUBNETS_ASSOCIATED' | translate }}</div>
            <div class='cell'>{{ 'SHARED' | translate }}</div>
            <div class='cell'>{{ 'ADMIN_STATE' | translate }}</div>
            <div class='cell'>{{ 'STATUS' | translate }}</div>
            <div class='cell'>{{ 'ACTIONS' | translate }}</div>
        </div>
        <div  class='table-row' ng-repeat="item in netView.apiService.networks">
            <div class='cell'>
                <div class="item-icon icon-table icon-network"></div>
                <div class='name'>
                    {{item.name}}
                </div>
            </div>
            <div class='cell centered'>
                <div ng-if="item.subnetCollection.length">
                    <div ng-repeat="subnet in item.subnetCollection">
                        <span>{{subnet.name}}</span> {{subnet.cidr}}
                    </div>
                </div>
                <div ng-if="!item.subnetCollection.length">
                    N/A
                </div>
            </div>
            <div class="cell">
                <div class="checker" ng-class="{checked: item.shared}"></div>
            </div>
            <div class='cell'>
                <label><input type="checkbox" ng-model="item.admin_state" class="ios-switch green" checked /><div><div></div></div></label>
            </div>
            <div class='cell'>
                <div class="status-pill green">ACTIVE</div>
            </div>
            <div class='cell'>
                <ul class="table-actions">
                    <li uib-tooltop="{{ 'ADD_SUBNET' | translate }}" ng-click="netView.addSubnetAction(item)" data-placement="top">
                        <div class="icon-action icon-newsubnet"></div>
                    </li>
                    <li uib-tooltop="{{ 'EDIT' | translate }}"  data-placement="top" mwl-confirm message="{{ 'RELEASE_FLOATING_IP_CONFIRM' | translate }}">
                        <div class="icon-action icon-edit"></div>
                    </li>
                    <li data-toggle="confirmation"  data-placement="top" mwl-confirm message="{{ 'NETWORK_DELETE_CONFIRM' | translate }}" title="Delete" on-confirm="vm.deleteNetwork(item)">
                        <div class="icon-action icon-delete"></div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>