<div class="main-list">
    <div class='list-header'>
        <h1>{{ 'FLOATING_IPS' | translate }}</h1>
        <a class="btn btn-primary btn-add" ng-click="netView.reserveFloatingIp()">
            {{ 'RESERVE_IP' | translate }}
        </a>
    </div>
    <div class='table floating-ips-table'>
        <div class='table-header'>
            <div class='cell'>{{ 'IP_ADDRESS' | translate }}</div>
            <div class='cell'>{{ 'VIRTUAL_MACHINE' | translate }}</div>
            <div class='cell'>{{ 'MAPPED_FIXED_ADDRESS' | translate }}</div>
            <div class='cell'>{{ 'POOL' | translate }}</div>
            <div class='cell'>{{ 'STATUS' | translate }}</div>
            <div class='cell'>{{ 'ACTIONS' | translate }}</div>
        </div>
        <div ng-if='vmView.item.snapshots.length == 0' class='empty-table'>
            <h3>{{ 'NO_NETWORKS' | translate }}</h3>
            <a class='btn btn-primary btn-snapshot btn-jumbo'>
                <svg width="15px" height="15px" viewBox="10 11 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M18.6895536,16.9526844 L18.6895536,11 L15.8799999,11 L15.8799999,16.9526844 L10,16.9526844 L10,19.762238 L15.8799999,19.762238 L15.8799999,25.8812697 L18.6895536,25.8812697 L18.6895536,19.762238 L24.6999998,19.762238 L24.6999998,16.9526844 L18.6895536,16.9526844 Z" id="Plus-Icon" stroke="none" fill="#FFFFFF" fill-rule="evenodd" opacity="0.695079291"></path>
                </svg>
                {{ 'NETWORK' | translate }}
            </a>
        </div>
        <div  class='table-row' ng-repeat="item in netView.apiService.project.floating_ips">
            <div class='cell'>
                <div ng-if="item.port == null">
                    <div class='item-icon icon-table icon-fip-empty'></div>
                </div>
                <div ng-if="item.port != null">
                    <div class='item-icon icon-table icon-fip'></div>
                </div>
                <div class='name'>
                    {{ item.floating_ip_address }}
                    <div ng-if="item.port != null">
                        <svg class='connector' width="28px" height="16px" viewBox="263 21 28 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(264.000000, 23.000000)">
                                <polyline id="Line" stroke="#5B6779" stroke-linecap="round" transform="translate(22.415755, 6.438954) rotate(-270.000000) translate(-22.415755, -6.438954) " points="28.8032541 9.69855556 22.2840516 3.17935315 16.0282567 9.43514805"></polyline>
                                <path d="M0.479185104,6.24917165 L24.5108681,6.24917165" id="Line" stroke="#5B6779" stroke-linecap="square"></path>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class='cell'>
                <div ng-if="item.port == null">
                    <ui-select ng-model="item.selected.value" on-select="netView.selectVm($item, item)">
                        <ui-select-match placeholder="Unallocated" class='select-choice'>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices group-by="netView.groupPorts" repeat="port in (netView.apiService.ports) | filter: { device_owner: 'compute:None'}" class='select-choice'>
                            Network: <span ng-bind="port.network.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div ng-if="item.port != null">
                    <vm-display vm="item.port.device"></vm-display>
                </div>
            </div>
            <div class="cell">
                <div ng-if="item.assigned_vm != null && item.port_id == null" class="network_interface">
                    <ui-select ng-model="item.selectedNetwork.value" on-select="netView.selectPort($item, item)">
                        <ui-select-match placeholder="Network interface" class='select-choice'>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="port in item.assigned_vm.ports" class='select-choice'>
                            <span ng-bind="item.assigned_to">{{port.name}} - {{port.network.name}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div ng-if="item.port != null">
                    {{item.port.fixed_ips[0].ip_address}}
                </div>
                <div ng-if="!item.port">
                    --
                </div>
            </div>
            <div class='cell'>public</div>
            <div class='cell'>
                <div ng-if="item.port_id == null">
                    <div class='status-pill label-danger status-down'>DOWN</div>
                </div>
                <div ng-if="item.port_id != null">
                    <div class='status-pill label-success status-active'>ACTIVE</div>
                </div>
            </div>
            <div class='cell'>
                <ul class="table-actions">
                    <li data-toggle="confirmation" title="{{ 'RELEASE_FLOATING_IP' | translate }}" data-placement="top" mwl-confirm message="Are you sure you want to release this floating ip?" title="Delete" on-confirm="netView.releaseFloatingIp(item)" ng-class="{disabled: item.port_id == null}">
                        <div class="icon-action icon-release"></div>
                    </li>
                    <li data-toggle="confirmation"  data-placement="top" mwl-confirm message="{{ 'REMOVE_FLOATING_IP_CONFIRM' | translate }}" title="{{ 'DELETE' | translate }}" on-confirm="vmView.removeInterface(network_interface)" ng-class="{disabled: item.port_id != null}">
                        <div class="icon-action icon-delete"></div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>