<div class='section'>
    <div class='section-header'>
        <h3>{{ 'NETWORKS' | translate }}</h3>
        <div class='pull-right network-add-interface'>
            <ui-select ng-model="vmView.networkSelected.value" search-enabled="false">
                <ui-select-match placeholder="Network" class='select-choice'>
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (vmView.apiService.networks | filter: $select.search) track by item.name" class='select-choice'>
                    <span ng-bind="item.name"></span>
                </ui-select-choices>
            </ui-select>
            <a class='btn btn-primary btn-add-interface' ng-click="vmView.addInterface(vmView.networkSelected.value)">{{ 'ADD_INTERFACE' | translate }}</a>
        </div>
    </div>
    <div class='section-body no-padding'>
        <div class="list list-networks">
            <div class='table vm-view-networks-table'>
                <div class='table-header'>
                    <div class='cell'>{{ 'NETWORK' | translate }}</div>
                    <div class='cell'>{{ 'SUBNET' | translate }}</div>
                    <div class='cell'>{{ 'IP_ADDRESS' | translate }}</div>
                    <div class='cell'>{{ 'PORT' | translate }}</div>
                    <div class='cell'>{{ 'STATUS' | translate }}</div>
                    <div class='cell'>{{ 'ACTIONS' | translate }}</div>
                </div>
                <div class='table-row state-{{network_interface.network.status}}' ng-repeat="(key, network_interface) in vmView.item.ports" ng-click="vmView.selectNetwork(network_interface.network);">
                    <div class='cell'>
                        <div class="icon-table icon-network"></div>
                        <div class="name">{{ network_interface.network.name }}</div>
                    </div>
                    <div class='cell centered'><div>{{ vmView.apiService.getSubnet(network_interface.fixed_ips[0].subnet_id).name }}</div></div>
                    <div class='cell centered'>{{ network_interface.fixed_ips[0].ip_address }}&nbsp;</div>
                    <div class='cell centered'><div>eth-{{key}}</div></div>
                    <div class='cell centered'>
                        <div class="status-pill status-{{network_interface.status}}">{{network_interface.status}}</div>
                    </div>
                    <div class='cell centered'>
                        <ul class="table-actions">
                            <li data-toggle="confirmation"  data-placement="left" mwl-confirm message="{{ 'NETWORK_INT_CONFIRM_DELETE' | translate }}" title="{{ 'DELETE' | translate }}" on-confirm="vmView.removeInterface(network_interface)">
                                <div class="icon-action icon-delete"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>