<div class='section'>
    <div class='section-header'>
        <h3>Log</h3>
    </div>
    <div class='section-body'>
        <div class='vm-log'>
            <pre>
[    1.760974] hub 1-0:1.0: USB hub found
[    1.760974] hub 1-0:1.0: 2 ports detected
[    1.764990] usbcore: registered new interface driver libusual
[    1.765581] i8042: PNP: PS/2 Controller [PNP0303:KBD,PNP0f13:MOU] at 0x60,0x64 irq 1,12
[    1.769459] serio: i8042 KBD port at 0x60,0x64 irq 1
[    1.769801] serio: i8042 AUX port at 0x60,0x64 irq 12
[    1.771385] mousedev: PS/2 mouse device common for all mice
[    1.773436] input: AT Translated Set 2 keyboard as /devices/platform/i8042/serio0/input/input1
[    1.774719] rtc_cmos 00:01: RTC can wake from S4
[    1.776877] rtc_cmos 00:01: rtc core: registered rtc_cmos as rtc0
[    1.776877] rtc0: alarms up to one day, 114 bytes nvram
[    1.776877] device-mapper: uevent: version 1.0.3
[    1.781131] device-mapper: ioctl: 4.22.0-ioctl (2011-10-19) initialised: dm-devel@redhat.com
[    1.782407] cpuidle: using governor ladder
[    1.782730] cpuidle: using governor menu
[    1.783188] EFI Variables Facility v0.08 2004-May-17
[    1.788127] TCP cubic registered
[    1.789655] NET: Registered protocol family 10
[    1.796529] NET: Registered protocol family 17
[    1.797975] Registering the dns_resolver key type
[    1.801068] registered taskstats version 1
[    1.937621]   Magic number: 12:731:279
[    1.938427] event_source tracepoint: hash matches
[    1.938592] tty tty16: hash matches
[    1.939494] rtc_cmos 00:01: setting system clock to 2016-08-23 12:15:48 UTC (1471954548)
[    1.939755] powernow-k8: Processor cpuid 6d3 not supported
[    1.940665] BIOS EDD facility v0.16 2004-Jun-25, 0 devices found
[    1.940809] EDD information not available.
[    1.959617] Freeing unused kernel memory: 928k freed
[    1.985341] Write protecting the kernel read-only data: 12288k
[    2.027442] Freeing unused kernel memory: 1596k freed
[    2.073740] Freeing unused kernel memory: 1184k freed

info: initramfs: up at 2.20
            </pre>
        </div>
    </div>
</div>