<div class='section'>
    <div class='section-header'>
        <h2>vCpu</h2>
        <br />

<svg width="840px" height="221px" viewBox="520 308 840 221" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Graph" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(520.000000, 308.000000)">
        <g id="Graph-Base">
            <g id="Values" font-size="12" font-family="Geomanist-Regular, Geomanist" fill="#354052" font-weight="normal">
                <text id="40-%" opacity="0.504256063">
                    <tspan x="0" y="143">40 </tspan>
                    <tspan x="0" y="157">%</tspan>
                </text>
                <text id="60-%" opacity="0.504256063">
                    <tspan x="0" y="99">60 % </tspan>
                </text>
                <text id="11-Mbps" opacity="0.799999952">
                    <tspan x="0" y="55">80 %</tspan>
                </text>
                <text id="100-%" opacity="0.504256063">
                    <tspan x="0" y="11">100 %</tspan>
                </text>
                <text id="0" opacity="0.504256063">
                    <tspan x="0" y="187">0</tspan>
                </text>
            </g>
            <g id="Months" transform="translate(82.601022, 207.000000)" font-size="12" font-family="Geomanist-Regular, Geomanist" fill="#7F8FA4" font-weight="normal">
                <text id="Jan">
                    <tspan x="0" y="11">Jan</tspan>
                </text>
                <text id="Feb">
                    <tspan x="92.0411392" y="11">Feb</tspan>
                </text>
                <text id="Mar">
                    <tspan x="185.262293" y="11">Mar</tspan>
                </text>
                <text id="Apr">
                    <tspan x="279.663462" y="11">Apr</tspan>
                </text>
                <text id="May">
                    <tspan x="371.704601" y="11">May</tspan>
                </text>
                <text id="Jun">
                    <tspan x="466.105769" y="11">Jun</tspan>
                </text>
                <text id="Jul">
                    <tspan x="558.146908" y="11">Jul</tspan>
                </text>
                <text id="Aug">
                    <tspan x="646.057997" y="11">Aug</tspan>
                </text>
            </g>
            <g id="Lines" transform="translate(1.180015, 19.000000)" fill="#E6EAEE">
                <rect id="Divider" x="0" y="0" width="837.81037" height="1"></rect>
                <rect id="Divider" x="0" y="44" width="837.81037" height="1"></rect>
                <rect id="Divider" x="0" y="88" width="837.81037" height="1"></rect>
                <rect id="Divider" x="0" y="132" width="837.81037" height="1"></rect>
                <rect id="Divider" x="0" y="176" width="837.81037" height="1"></rect>
            </g>
        </g>
        <g transform="translate(1.000000, 14.000000)">
            <polygon id="Fill" fill="#30AD63" opacity="0.1" points="0 150 93.2422535 135 186.484507 44 277.366197 154 371.788732 132 461.490141 0 555.912676 133 647.974648 113 737.676056 130 838 79 838 182 0 182"></polygon>
            <polyline id="Line" stroke="#30AD63" stroke-linecap="round" stroke-linejoin="round" points="0.788391285 150.029297 93.8254787 134.619141 186.761136 43.4980469 278.514206 153.947266 372.058445 131.990234 462.052619 0.05078125 557.118315 132.505859 648.059942 112.972656 738.798707 129.439453 837.60811 80.0507812"></polyline>
        </g>
    </g>
</svg>
    </div>

</div>
<div class='section'>
    <div class='section-header'>
        <h2>vRam</h2>
        <br />

<svg width="841px" height="223px" viewBox="520 695 841 223" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Graph-Copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(520.000000, 696.869739)">
        <g id="Graph-Base">
            <g id="Values" font-size="12" font-family="Geomanist-Regular, Geomanist" fill="#354052" opacity="0.504256063" font-weight="normal">
                <text id="2">
                    <tspan x="0" y="143">2</tspan>
                </text>
                <text id="4">
                    <tspan x="0" y="99">4 </tspan>
                </text>
                <text id="11-Mbps">
                    <tspan x="0" y="55">8</tspan>
                </text>
                <text id="14-Mbps">
                    <tspan x="0" y="11">14 Mbps</tspan>
                </text>
                <text id="0">
                    <tspan x="0" y="187">0</tspan>
                </text>
            </g>
            <g id="Months" transform="translate(82.601022, 207.000000)" font-size="12" font-family="Geomanist-Regular, Geomanist" fill="#7F8FA4" font-weight="normal">
                <text id="Jan">
                    <tspan x="0" y="11">Jan</tspan>
                </text>
                <text id="Feb">
                    <tspan x="92.0411392" y="11">Feb</tspan>
                </text>
                <text id="Mar">
                    <tspan x="185.262293" y="11">Mar</tspan>
                </text>
                <text id="Apr">
                    <tspan x="279.663462" y="11">Apr</tspan>
                </text>
                <text id="May">
                    <tspan x="371.704601" y="11">May</tspan>
                </text>
                <text id="Jun">
                    <tspan x="466.105769" y="11">Jun</tspan>
                </text>
                <text id="Jul">
                    <tspan x="558.146908" y="11">Jul</tspan>
                </text>
                <text id="Aug">
                    <tspan x="646.057997" y="11">Aug</tspan>
                </text>
            </g>
            <g id="Lines" transform="translate(1.180015, 19.000000)" fill="#E6EAEE">
                <rect id="Divider" x="0" y="0" width="837.81037" height="1"></rect>
                <rect id="Divider" x="0" y="44" width="837.81037" height="1"></rect>
                <rect id="Divider" x="0" y="88" width="837.81037" height="1"></rect>
                <rect id="Divider" x="0" y="132" width="837.81037" height="1"></rect>
                <rect id="Divider" x="0" y="176" width="837.81037" height="1"></rect>
            </g>
        </g>
        <g id="Graph" transform="translate(420.000000, 105.000000) scale(-1, 1) translate(-420.000000, -105.000000) translate(1.000000, 14.000000)">
            <polygon id="Fill" fill="#3A99D8" opacity="0.1" points="0 150 93.2422535 135 186.484507 44 277.366197 154 371.788732 132 461.490141 0 555.912676 133 647.974648 113 737.676056 130 838 79 838 182 0 182"></polygon>
            <polyline id="Line" stroke="#2F81B7" stroke-linecap="round" stroke-linejoin="round" points="0.788391285 150.029297 93.8254787 134.619141 186.761136 43.4980469 278.514206 153.947266 372.058445 131.990234 462.052619 0.05078125 557.118315 132.505859 648.059942 112.972656 738.798707 129.439453 837.60811 80.0507812"></polyline>
        </g>
    </g>
</svg>
    </div>
</div>