
  <div class="main-list">
    <div class='list-header'>
      <h1>{{ 'VIRTUAL_MACHINES' | translate }}</h1>
      <a class="btn btn-primary btn-add" ng-click="vm.newVm()">
        {{ 'NEW_VM' | translate }}
      </a>
      <div class="table-functions">
        <div class="filter-dropdown">
          <ui-select ng-model="vm.selected.value" search-enabled="false" on-select="vm.selectFilter($item, $model)">
            <ui-select-match placeholder="{{ 'FILTER' | translate }}" class='select-choice'>
              <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in (vm.filters | filter: $select.search) track by item.id" class='select-choice'>
              <span ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class='dropdown action-dropdown bulk-actions'>
          <ui-select class='bulk-actions' ng-model="vm.bulkSelected.value" search-enabled="false" on-select="vm.bulkAction($item, $model)">
            <ui-select-match placeholder="{{ 'ACTIONS' | translate }}" class='select-choice'>
              <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in (vm.bulkActions | filter: $select.search) track by item.id" class='select-choice'>
              <span ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    <div class='table-filter' ng-class="{ has_filter: vm.currentFilters.length}">
      <div class='filter-details'>
        <div class='filter-row' ng-repeat="filterField in vm.currentFilters">
          <div class='filter-name'>
            <svg ng-click='vm.removeFilter(filterField)' width="18px" height="18px" viewBox="570 3 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M578.10303,10.94248 L573.094004,10.94248 L573.094004,12.9320218 L578.10303,12.9320218 L578.10303,17.9410484 L580.092572,17.9410484 L580.092572,12.9320218 L585.101599,12.9320218 L585.101599,10.94248 L580.092572,10.94248 L580.092572,5.93345343 L578.10303,5.93345343 L578.10303,10.94248 Z" id="Close-Button" stroke="none" fill="#333333" fill-rule="evenodd" transform="translate(579.097801, 11.937251) rotate(-315.000000) translate(-579.097801, -11.937251) "></path>
            </svg>
            {{ filterField.name }}:
          </div>
          <div class='filter-options'>
            <div ng-if='filterField.type=="options" || filterField.type == "tags"'>
              <ul>
                <li ng-repeat='option in filterField.options' ng-click='vm.filterTable(option, filterField)' ng-class="{selected: option.selected}">
                  
                  {{ option.term }}
                </li>
              </ul>
            </div>
            <div ng-if='filterField.type=="text"'>
              <input type="text" ng-model='filterField.term' />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table vm-table">
      <div class="table-header">
        <div class="cell sortable" ng-click="vm.sortTable('name')"  ng-class="{sortUp: (vm.sortType == 'name' && vm.sortReverse == false), sortDown: (vm.sortType == 'name' && vm.sortReverse == true)}">
          <div class='cell-text'>{{ 'NAME' | translate }}</div>

          <div class='sort'>
            <div class='up'></div>
            <div class='down'></div>
          </div>          
        </div>
        <div class="cell">{{ 'IP' | translate }}</div>
        <div class="cell">{{ 'STARTED' | translate }}</div>
        <div class="cell">{{ 'COST' | translate }}</div>
        <div class="cell">{{ 'REGION' | translate }}</div>
        <div class="cell">{{ 'STATUS' | translate }}</div>
        <div class="cell">{{ 'ACTIONS' | translate }}</div>
      </div>
      <div class='table-content'>
        <div ng-repeat="item in vm.compute.listItems | orderBy:vm.sortType:vm.sortReverse | vmFilter: {filters: vm.currentFilters}" ng-class="{detailView: item.detail_view, selected: item.checked}" class='table-row status-{{ item.host_status }}'  ng-class='{checked : item.checked}'>
          <div class='vm-excerpt'>
            <div class='cell'>
              <span class='checkable' ng-click="vm.checkVm(item)">
                <svg width="21px" height="22px" viewBox="-1 -1 21 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <polygon id="Rectangle" stroke="none" fill="#4CD964" fill-rule="evenodd" transform="translate(10.000000, 10.000000) rotate(-270.000000) translate(-10.000000, -10.000000) " points="20 0 20 20 0 20"></polygon>
                    <path d="M8.76869228,12.2313077 C8.46028199,11.9228974 7.9609886,11.9228974 7.65336708,12.2313077 L4.99993427,14.8847405 L4.34604134,14.2316364 C4.03841982,13.9232261 3.53912643,13.9232261 3.23071614,14.2316364 C2.92309462,14.5392579 2.92309462,15.0385513 3.23071614,15.3469616 L4.44227167,16.5577283 C4.74989319,16.8661386 5.24918658,16.8661386 5.55759687,16.5577283 L8.76869228,13.3466329 C9.07710257,13.0390114 9.07710257,12.539718 8.76869228,12.2313077" id="Tick" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
                </svg>
              </span>
              <vm-display vm="item" on-icon-click="vm.checkVm(item)" icon-suffix="-dark"></vm-display>
              <div class='vm-caret' ng-click="vm.detailVm(item)">
                <svg class='' width="22px" height="13px" viewBox="19 25 22 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <polyline id="Page-1" stroke="#dde0e5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" transform="translate(30.000000, 31.500000) rotate(-180.000000) translate(-30.000000, -31.500000) " points="21 35.7167956 29.8567242 27 39 36"></polyline>
                </svg>
              </div>
            </div>
            <div class='cell iprange-{{ vm.numOfIps(item) }}'>
              <div ng-repeat="network_interface in item.network_interfaces" class='network-interface ipnum-{{item.network_interfaces.length}}'>
                <div ng-if="network_interface.floating_ip" class='floating-ip'>
                  <div class="label label-pub">PUB</div> {{network_interface.floating_ip.ip}}
                </div>
                <div class='ip-addr'>
                  <div class="label label-priv">PRIV</div>{{network_interface.ip_addr}}
                </div>
              </div>
            </div>
            <div class='cell'>
              <div am-time-ago="item.created"></div>
            </div>
            <div class='cell'>
              <div>&euro; {{ item.flavor.price }} / month</div>
            </div>
            <div class='cell'>
              <span class="zone">{{ item.zone }}</span>
            </div>
            <div class='cell'>
              <span class="status-pill status-{{ item.host_status }}">{{ item.host_status }}</span>
            </div>
            <div class='cell'>
              <ul class="table-actions">
                <li class="pauseVM" ng-click="vm.pauseVm(item)" ng-if="item.host_status == 'ACTIVE'">
                  <div uib-tooltip="{{ 'PAUSE' | translate }}" class="icon-action icon-pause" data-placement="top" title="Pause"></div>
                </li>
                <li ng-click="vm.startVm(item)" ng-if="item.host_status == 'SHUTOFF'">
                  <div uib-tooltip="{{ 'START' | translate }}" class="icon-action icon-play" data-placement="top" title="Start"></div>
                </li>
                <li ng-click="vm.resumeVm(item)" ng-if="item.host_status == 'PAUSED'">
                  <div uib-tooltip="{{ 'RESUME' | translate }}" class="icon-action icon-play" data-placement="top" title="Resume"></div>
                </li>
                <li uib-tooltip="{{ 'RESET' | translate }}" ng-click='vm.resetVm(item)' ng-if='item.host_status != "STOPPED"'>
                  <div class="icon-action icon-restart"></div>
                </li>
                <li uib-tooltip="{{ 'STOP' | translate }}" class="stopVM" ng-click='vm.haltVm(item)' ng-class='{disabled: item.host_status == "STOPPED"}'>
                  <div class="icon-action icon-stop"></div>
                </li>
                <li uib-tooltip="{{ 'SNAPSHOT' | translate }}" uib-tooltip="Start">
                  <div class="icon-action icon-snapshot"></div>
                </li>
                <li uib-tooltip="{{ 'CONSOLE' | translate }}" class="infoVM" ng-click="vm.selectVm(item)" ng-if="item.host_status == 'ACTIVE'">
                  <div class="icon-action icon-console"></div>
                </li>
                <li  uib-tooltip="{{ 'DELETE' | translate }}" class="deleteVM" tooltip-placement="top-right">
                  <a data-toggle="confirmation"  data-placement="top" mwl-confirm message="{{ 'VM_DELETE_CONFIRM' | translate }}" title="{{ 'DELETE' | translate }}"  on-confirm="vm.deleteVm(item)">
                    <div class="icon-action icon-delete"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class='vm-detail-row height-{{vm.linesOfWidgets()}}'>
            <div class='vm-widgets-container'>
              <vm-widgets ng-if="vm.reloadDirectives" vm="item" widgets="vm.vmWidgets" avialablewidgets="vm.vmAvailableWidgets"></vm-widgets>
              <vm-widgets ng-if="!vm.reloadDirectives" vm="item" widgets="vm.vmWidgets" avialablewidgets="vm.vmAvailableWidgets"></vm-widgets>
              <a class='manage-widgets' ng-click='vm.manageWidgets(item)'><i class='glyphicon glyphicon-edit'></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
