<div class='create-pane vm-view-details' id="vm-view">
    <div class='vm-details-panel status-{{ vmView.item.host_status }}'>
        <div class="vm-details">
            <span class="icon generic">
            </span>
            <div class="info">
                <span class="name" editable-text="vmView.item.name" onbeforesave="vmView.renameVm($data)">{{ vmView.item.name }}</span> <i
                    class='glyphicon glyphicon-pencil'></i>
                <span class="details">{{ vmView.item.flavor.vCpu }} vCPU | {{vmView.item.flavor.ram}} GB RAM | {{ vmView.item.flavor.ssd}} GB SSD</span>
            </div>
        </div>
        <div class='controls pull-right'>

            <div class='table-actions action-dropdown'>
                <ui-select ng-model="vmView.selected.value" search-enabled="false"
                           on-select="vmView.selectAction($item, vmView.item)">
                    <ui-select-match placeholder="{{ 'ALL_ACTIONS' | translate }}" class='select-choice'>
                        <span ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in (vmView.actions | filter: $select.search) track by item.id"
                                       class='select-choice'>
                        <span ng-bind="item.name"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <a class='btn btn-primary btn-shutoff' data-toggle="confirmation" data-placement="bottom" mwl-confirm
               message="Are you sure you want to stop this VM?" title="Shut Down">
                {{ 'SHUTOFF' | translate }}
            </a>
        </div>
    </div>
    <div class="sidebar is-menu">
        <ul class="sidebar-menu">
            <li ui-sref-active="active">
                <div class="icon-submenu overview"></div>
                <a ui-sref="vm-view-overview">{{ 'OVERVIEW' | translate }}</a>
                <!-- <svg>
                    <use xlink:href="images/icons.svg#icon-overview" />
                </svg> -->

            </li>
            <li ui-sref-active="active">
                <div class="icon-submenu resize"></div>
                <a ui-sref='vm-view-size'>{{ 'SIZE' | translate }}</a>
            </li>
            <li ui-sref-active="active">
                <div class="icon-submenu snapshot"></div>
                <a ui-sref='vm-view-snapshot'>
                    {{ 'SNAPSHOTS' | translate }}
                </a>
            </li>
            <li ui-sref-active="active">
                <div class="icon-submenu volumes"></div>
                <a ui-sref='vm-view-volumes'>{{ 'VOLUMES' | translate }}</a>
            </li>
            <li ui-sref-active="active">
                <div class="icon-submenu network"></div>
                <a ui-sref='vm-view-networking'>{{ 'NETWORKING' | translate }}</a>
            </li>
            <!-- <li>
                <div class="icon-submenu console"></div>
                <a href='#'>{{ 'CONSOLE' | translate }}</a>
            </li>
            <li>
                <div class="icon-submenu log"></div>
                <a ui-sref="vm-view-log">{{ 'LOG' | translate }}</a>
            </li> -->
        </ul>
    </div>
    <div class='main'>
        <div ui-view></div>
    </div>
</div>
