<div class="main-list">
    <div class='list-header'>
        <h1>{{ 'VOLUMES' | translate }}</h1>
        <a class="btn btn-primary btn-add" ui-sref="volumes-create">{{ 'NEW_VOLUME' | translate }}</a>
    </div>
    <div class="table volumes-table">
        <div class="table-header">
            <div class="cell">
                <div class='cell-text'>{{ 'NAME' | translate }}</div>
            </div>
            <div class="cell">{{ 'ATTACHED_TO' | translate }}</div>
            <div class="cell">{{ 'DESCRIPTION' | translate }}</div>
            <div class="cell">{{ 'REGION' | translate }}</div>
            <div class="cell">{{ 'STATUS' | translate }}</div>
            <div class="cell">{{ 'BOOTABLE' | translate }}</div>
            <div class="cell">{{ 'ACTIONS' | translate }}</div>
        </div>
        <div class='table-content'>
            <div ng-if='vm.apiService.vmVolumes.length == 0' class='empty-table'>
                <h3>{{ 'NO_VOLUMES' | translate }}</h3>
                <a class="btn btn-primary btn-add" ui-sref="volumes-create">{{ 'NEW_VOLUME' | translate }}</a>
            </div>
            <div ng-repeat="item in vm.apiService.vmVolumes | orderBy:vm.sortType:vm.sortReverse"
                 ng-class="{selected: item.checked}" class='table-row status-{{ item.host_status }}'>
                <div class='vm-excerpt'>
                    <div class='cell'>
                      <volume-display volume="item"></volume-display>
                    </div>
                    <div class='cell' ng-class="{empty: !item.attached_to}">
                        <div ng-if="item.attachments.length">
                            <vm-display vm="vm.apiService.getVm(item.attachments[0].server_id)"></vm-display>
                        </div>
                        <div ng-if="!item.attachments.length">
                            <ui-select ng-model="item.selectedVm.value" on-select="vm.attachVm(item)">
                                <ui-select-match placeholder="Attach to ..." class='select-choice'>
                                    <span ng-bind="$select.selected.name"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in (vm.apiService.listItems) track by item.id" class='select-choice'>
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class='cell'>
                        <div>{{item.description}}</div>
                    </div>
                    <div class='cell'>
                        <div>{{ item.region.name }}</div>
                    </div>
                    <div class='cell'>
                        <div class='status-pill' ng-class="{'green': !item.attachments.length, 'purple': item.attachments.length}">
                            {{ item.attachments.length ? "IN-USE" : "READY" }}
                        </div>
                    </div>
                    <div class='cell'>
                        <div class="checker" ng-class="{checked: item.bootable}"></div>
                    </div>
                    <div class='cell'>
                        <ul class="table-actions">
                            <li uib-tooltip="{{ 'EDIT' | translate }}" ng-click="vm.editVolume(item)">
                                <div class="icon-action icon-edit"></div>
                            </li>
                            <li uib-tooltip="{{ 'TAKE_SNAPSHOT' | translate }}" ng-click="vm.createSnapshot(item)">
                                <div class="icon-action icon-snapshot"></div>
                            </li>
                            <li uib-tooltip="{{ 'DETACH_VOLUME' | translate }}" ng-class="{disabled: !item.attached_to}" class="infoVM" ng-click="vm.discardVm(item)">

                                <div class="icon-action icon-release"></div>
                            </li>
                            <li class="deleteVM" ng-class="{disabled: item.attached_to}">
                                <a uib-tooltip="{{ 'DELETE' | translate }}" data-toggle="confirmation" data-placement="top" mwl-confirm
                                   message="{{ 'VOLUME_DELETE_CONFIRM' | translate }}"
                                   on-confirm="vm.deleteVolume(item)">
                                    <div class="icon-action icon-delete"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
