<div class="widget size-third newsFeedWidget">
    <h2>Notifications</h2>
    <h4>News from above</h4>
    <ul>
        <li>
            <div class="head">
                Manage your volumes like a pro <br />
                10/7/2016, 1:03:44 AM
            </div>
            <div class="divider"></div>
            <div class="content">
                Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole …
            </div>
        </li>
        <li>
            <div class="head">
                New features <br />
                23/6/2016, 2:014:34 AM
            </div>
            <div class="content">
                So strongly and metaphysically did I conceive of my situation then, that while earnestly watching his motions, I seemed distinctly to perceive …
            </div>
        </li>
        <li>
            <div class="head">
                Manage your volumes like a pro <br />
                10/7/2016, 1:03:44 AM
            </div>
            <div class="divider"></div>
            <div class="content">
                Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole …
            </div>
        </li>
    </ul>
</div>