<div class="widget size-half projectCostWidget">
    <div class="widget-container">
        <h2>Project Costs</h2>
        <div class="list-filters">
            <a class="active">Weekly</a>
            <a>Monthly</a>
        </div>

        <svg width="540px" height="252px" viewBox="20 1123 540 252" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <text id="3K" stroke="none" fill="none" opacity="0.504256063" font-family=".AppleSystemUIFont" font-size="12" font-weight="normal">
                <tspan x="20" y="1196" fill="#354052">3K</tspan>
            </text>
            <text id="4K" stroke="none" fill="none" opacity="0.504256063" font-family=".AppleSystemUIFont" font-size="12" font-weight="normal">
                <tspan x="20" y="1148" fill="#354052">4K</tspan>
            </text>
            <text id="1K" stroke="none" fill="none" opacity="0.504256063" font-family=".AppleSystemUIFont" font-size="12" font-weight="normal">
                <tspan x="20" y="1293" fill="#354052">1K</tspan>
            </text>
            <text id="2K" stroke="none" fill="none" opacity="0.504256063" font-family=".AppleSystemUIFont" font-size="12" font-weight="normal">
                <tspan x="20" y="1245" fill="#354052">2K</tspan>
            </text>
            <text id="0" stroke="none" fill="none" opacity="0.504256063" font-family=".AppleSystemUIFont" font-size="12" font-weight="normal">
                <tspan x="20" y="1341" fill="#354052">0</tspan>
            </text>
            <text id="Mon" stroke="none" fill="none" opacity="0.504256063" font-family=".AppleSystemUIFont" font-size="12" font-weight="normal">
                <tspan x="100.246664" y="1370" fill="#354052">Mon</tspan>
            </text>
            <text id="Tue" stroke="none" fill="none" opacity="0.504256063" font-family=".AppleSystemUIFont" font-size="12" font-weight="normal">
                <tspan x="162.818998" y="1370" fill="#354052">Tue</tspan>
            </text>
            <text id="Wed" stroke="none" fill="none" opacity="0.504256063" font-family=".AppleSystemUIFont" font-size="12" font-weight="normal">
                <tspan x="229.90975" y="1370" fill="#354052">Wed</tspan>
            </text>
            <text id="Thu" stroke="none" fill="none" opacity="0.504256063" font-family=".AppleSystemUIFont" font-size="12" font-weight="normal">
                <tspan x="294.100475" y="1370" fill="#354052">Thu</tspan>
            </text>
            <text id="Fri" stroke="none" fill="none" opacity="0.504256063" font-family=".AppleSystemUIFont" font-size="12" font-weight="normal">
                <tspan x="360.725837" y="1370" fill="#354052">Fri</tspan>
            </text>
            <text id="Sat" stroke="none" fill="none" opacity="0.504256063" font-family=".AppleSystemUIFont" font-size="12" font-weight="normal">
                <tspan x="427.233355" y="1370" fill="#354052">Sat</tspan>
            </text>
            <text id="Sun" stroke="none" fill="none" opacity="0.504256063" font-family=".AppleSystemUIFont" font-size="12" font-weight="normal">
                <tspan x="493.14149" y="1370" fill="#354052">Sun</tspan>
            </text>
            <g id="Group-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(50.000000, 1123.000000)">
                <g id="Lines" fill="#E6EAEE">
                    <rect id="Divider" x="0" y="0" width="509.139103" height="1.26205071"></rect>
                    <rect id="Divider" x="0" y="106.01226" width="509.139103" height="1.26205071"></rect>
                    <rect id="Divider" x="0" y="53.0061299" width="509.139103" height="1.26205071"></rect>
                    <rect id="Divider" x="0" y="159.01839" width="509.139103" height="1.26205071"></rect>
                    <rect id="Divider" x="0" y="212.02452" width="509.139103" height="1.26205071"></rect>
                </g>
                <rect id="Blue" fill="#354052" x="46" y="30" width="25" height="184"></rect>
                <rect id="Blue" fill="#354052" x="179" y="53" width="25" height="160"></rect>
                <rect id="Blue" fill="#354052" x="243" y="17" width="25" height="197"></rect>
                <rect id="Blue" fill="#4CD964" x="114" y="105" width="25" height="109"></rect>
                <rect id="Blue" fill="#4CD964" x="309" y="118" width="25" height="96"></rect>
                <rect id="Blue" fill="#4CD964" x="374" y="181" width="25" height="33"></rect>
                <rect id="Blue" fill="#4CD964" x="438" y="130" width="25" height="83"></rect>
            </g>
            <path d="M51.5,1177.5 L558.5,1177.5" id="Line" stroke="#54B87E" stroke-width="1" stroke-linecap="square" stroke-dasharray="2" fill="none"></path>
            <path id="Line-decoration-1" d="M51.5,1174.5 L51.5,1180.5" stroke="#54B87E" stroke-width="1" stroke-linecap="square" stroke-dasharray="2" fill="none"></path>
            <path id="Line-decoration-2" d="M558.5,1174.5 L558.5,1180.5" stroke="#54B87E" stroke-width="1" stroke-linecap="square" stroke-dasharray="2" fill="none"></path>
            <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(444.000000, 1144.000000)" font-weight="normal">
                <text id="daily-threshold" font-family=".AppleSystemUIFont" font-size="12" line-spacing="15" fill="#354052">
                    <tspan x="13.7519531" y="52">daily threshold</tspan>
                </text>
                <text id="$-3K" font-family="Geomanist-Regular, Geomanist" font-size="24" fill="#343645">
                    <tspan x="32" y="23">$ 3K</tspan>
                </text>
            </g>
        </svg>
    </div>
</div>