$volumeColSizes: (
        1 26% "default",
        2 26% "default",
        3 18% "default",
        4 5% "default",
        5 5% "default",
        6 6% "default",
        7 14% "default"
);

@include generateTable("volumes", $volumeColSizes);

.volumes-table {
  .cell {
    .vm-actions {
      li {
        margin-right: 15px;
      }
    }
    .ui-select-container .ui-select-toggle {
      width: 90%;
    }
  }
  .table-row {
    .cell:nth-child(2){
      padding-top: 0;
      &.empty {
        padding-top: 10px;
      }
    }
  }
  .vm-details {
    margin-bottom: 0;
  }
  .icon-volume {
    background-color: #FFF;
    cursor: pointer;
    &:hover {
      background-color: #FFF;
    }
  }
  .table-content .table-row {
    .volume-details {
      .info {
        padding-left: 5px;
        .name {
          margin-left: 0;
        }
      }
    }
  }
}

$vmVolumesCols: (
  1 30% "default",
  2 50% "default",
  3 10% "default",
  4 10% "default",
);

@include generateTable('vm-volumes', $vmVolumesCols);

.list-volumes {
  margin-bottom: -10px;
}