<div class='manage-volume-attachments-modal'>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Manage volume attachments</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="list list-volume-attachments">
            <div class='table'>
                <div class='table-header'>
                    <div class='cell'>&nbsp;</div>
                    <div class='cell'>Name</div>
                    <div class='cell'>Device</div>
                    <div class='cell'>Actions</div>
                </div>

                <div ng-if="volume.attached_to" class='table-row' ng-repeat="attachment in volume.attached_to" ng-class="{active: group.selected}" ng-click="vmCreate.selectSecurityGroup(group);">
                    <div class='cell'>
                        <svg class='radio radio-inactive' width="20px" height="20px" viewBox="18 230 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <rect id="path-1" x="20" y="231" width="16" height="16" rx="4"></rect>
                                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
                                    <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                    <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                    <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
                                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.05 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                                </filter>
                                <mask id="mask-3" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="16" height="16" fill="white">
                                    <use xlink:href="#path-1"></use>
                                </mask>
                            </defs>
                            <g id="Checkbox" stroke="none" fill="none">
                                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                                <use stroke="#B7C0CD" mask="url(#mask-3)" stroke-width="2" fill="#E2E7EE" fill-rule="evenodd" xlink:href="#path-1"></use>
                            </g>
                        </svg>

                        <svg class='radio radio-active' width="21px" height="20px" viewBox="18 174 21 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <rect id="path-1" x="0" y="0" width="16" height="16" rx="4"></rect>
                                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
                                    <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                    <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                    <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
                                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.05 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                                </filter>
                                <mask id="mask-3" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="16" height="16" fill="white">
                                    <use xlink:href="#path-1"></use>
                                </mask>
                            </defs>
                            <g id="Checkbox" stroke="none" fill="none">
                                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                                <use stroke="#30AD63" mask="url(#mask-3)" stroke-width="2" fill-opacity="0.799999952" fill="#30AD63" fill-rule="evenodd" xlink:href="#path-1"></use>
                            </g>
                        </svg>

                    </div>
                    <div class="cell">
                        {{ attachment.vm.name }}
                    </div>
                    <div class="cell">
                        {{ attachment.path }}
                    </div>
                    <div class="cell">
                        <ul class="vm-actions">
                            <li class="deleteVM">
                                <a uib-tooltip="Remove attachment" data-toggle="confirmation" data-placement="top" mwl-confirm
                                   message="Are you sure you want to delete this attachment? This action is undoable."
                                   title="Delete" onmouseenter="$(this).tooltip('show')"
                                   on-confirm="removeAttachment(attachment)">
                                    <svg width="16px" height="16px" viewBox="164 1 16 16" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path d="M170,13 C169.448,13 169,12.552 169,12 L169,9 C169,8.448 169.448,8 170,8 C170.552,8 171,8.448 171,9 L171,12 C171,12.552 170.552,13 170,13 L170,13 Z M174,13 C173.448,13 173,12.552 173,12 L173,9 C173,8.448 173.448,8 174,8 C174.552,8 175,8.448 175,9 L175,12 C175,12.552 174.552,13 174,13 L174,13 Z M175,6 L169,6 L167,6 L168,14 C168,14.552 168.448,15 169,15 L175,15 C175.552,15 176,14.552 176,14 L177,6 L175,6 Z M172,3 C171.448,3 171,3.448 171,4 L173,4 C173,3.448 172.552,3 172,3 L172,3 Z M178,15 C178,16.105 177.105,17 176,17 L168,17 C166.895,17 166,16.105 166,15 L165,6 C164.448,6 164,5.552 164,5 C164,4.448 164.448,4 165,4 L169,4 L169,2 C169,1.448 169.448,1 170,1 L174,1 C174.552,1 175,1.448 175,2 L175,4 L179,4 C179.552,4 180,4.448 180,5 C180,5.552 179.552,6 179,6 L178,15 Z"
                                              id="Icon" stroke="none" fill="#7F8FA4" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-if="!volume.attached_to" class="table-row empty">
                    N/A
                </div>
            </div>
        </div>
        <div class="select-vm">
            <ui-select ng-model="selected.value" search-enabled="false" on-select="selectVm($item)">
                <ui-select-match placeholder="Virtual Machine List" class='select-choice'>
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (vmList) track by item.id" class='select-choice'>
                    <span ng-bind="item.name"></span>
                </ui-select-choices>
            </ui-select>
            <a class="btn btn-primary btn-add-attachment" ng-click="addAttachment()">Add</a>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-ok pull-right" type="button" ng-click="ok()" >OK</button>
    </div>
</div>