<div class='reserve-floating-ip-modal'>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Reserve floating ip</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class='project-limits'>
            <div class='project-label'>Your project limits</div>
            <div class='item'>Floating IP's</div>
            <uib-progressbar max="project.floating_ip_limit" value="project.floating_ips.length"<i>{{ project.floating_ips.length }} / {{ project.floating_ip_limit }}</i></uib-progressbar>
        </div>
        <div class='network-pool'>
            
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning btn-cancel pull-left" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary btn-ok pull-right" type="button" ng-click="ok()" >Allocate IP</button>
    </div>
</div>