<div class='uil-cube-css' id="loader" style='-webkit-transform:scale(0.25)'><div></div><div></div><div></div><div></div></div>
<!-- Add your site or application content here -->
<div class="header">
    <div class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
        <div class='container logo-container'>
            <a class="navbar-brand" href="#/">
                <img src="images/LogAuroraFlatWhite.svg" />
            </a>
        </div>
        <div class='container'>
            <div class="navbar-header">
                <ul class="navbar-menu">
                <li ui-sref-active="active"><a ui-sref="dashboard">Dashboard</a></li>
                <li ui-sref-active="active">
                    <a ui-sref="vm-list">Compute</a>
                    <a ui-sref="compute" style="display:none" > </a>
                    <div class='submenu'>
                            <ul>
                                <li ui-sref-active="active" class="with-counter">
                                    <a ui-sref="vm-list">Virtual Machines
                                    </a>
                                    <span class="count">{{vm.apiService.listItems.length}}</span>
                                    <a ui-sref="vm" style="display:none" > </a>
                                </li>
                                <li ui-sref-active="active" class="with-counter">
                                    <a ui-sref="volumes-list">
                                        Volumes
                                    </a>
                                    <span class="count">{{vm.apiService.vmVolumes.length}}</span>
                                    <a ui-sref="volumes" style="display:none" > </a>
                                </li>
                                <li ui-sref-active="active" class="with-counter">
                                    <a ui-sref="snapshot-list">
                                        Snapshots
                                    </a>
                                    <span class="count">{{vm.apiService.vmSnapshots.length}}</span>
                                    <a ui-sref="snapshots" style="display:none" > </a>
                                </li>
                            </ul>
                    </div>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="networking-map"  ui-sref-active="active" href="#">Networking</a>
                    <a ui-sref="networking" style="display:none" > </a>
                    <div class='submenu'>
                        <ul>
                            <li>
                                <a ui-sref-active="active" ui-sref="networking-map">Map</a>
                            </li>
                            <li class="with-counter">
                                <a ui-sref-active="active" ui-sref="networking-list">Networks</a>
                                <span class="count">{{vm.apiService.networkList.length}}</span>
                            </li>
                            <li class="with-counter">
                                <a ui-sref-active="active" ui-sref="networking-floating-ips">Floating IPs</a>
                                <span class="count">{{vm.apiService.project.floating_ips.length}}</span>
                            </li>
                            <li class="with-counter">
                                <a ui-sref-active="active" ui-sref="networking-routers">Routers</a>
                                <span class="count">{{vm.apiService.networkRouters.length}}</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li ui-sref-active="active">
                    <a href="#">Extra</a>
                </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="container main-body">
<div ui-view=""></div>
</div>